.sidebar {
    .ps-place-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .city-review-title {
            color: black;
            font-size: 28px;
        }
        .city-review-subtitle {
            font-size: 18px;
            color: rgb(120, 120, 120);
        }
    }

}