.city-commentary-container {
    display: flex;
    flex-direction: column;
    .city-commentary-subtitle {
        color: rgb(200, 200, 200);
        font-size: 20px;
        margin-bottom: 4px;
    }
    .city-commentary-textarea {
        width: 600px;
        height: 200px;
        margin-bottom: 20px;
        background: rgb(220, 220, 220);
        border-radius: 4px;
        font-family: 'Times', serif;
        font-size: 16px;
        padding: 4px;
    }
}