.city-review-card {
  display: flex;
  position: relative;
  align-items: center;
  background: #e0e0eb;
  max-width: 680px;
  width: 680px;
  height: 80px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  margin: 4px 0;
  padding: 8px 16px;
  .crc-input-container {
    display: flex;
    flex-direction: column;
    .crc-input-title {
      text-transform: lowercase;
      font-size: 14px;
      font-weight: 550;
      color: #4f545a;
      padding-left: 4px;
    }
    .crc-input,
    .crc-input-span {
      width: 320px;
      background: none;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(20, 20, 20);
      margin-top: 8px;
      padding-bottom: 8px;
      padding-left: 4px;
      font-family: "Segoe UI", sans-serif;
      font-size: 20px;
      color: #828a97;
      height: 37px;
      line-height: 30px;
    }
  }
  .crc-icon-container {
    display: flex;
    flex: 1;
    position: relative;
    margin-left: 12px;
    svg {
      height: 30px;
      margin: 0 4px;
      stroke: rgb(150, 150, 150);
    }

    .recommend-icon:hover {
      fill: #96b1a8;
    }

    .recommend-active {
      stroke: #96b1a8;
    }

    .neutral-icon:hover {
      fill: #dbc071;
    }

    .neutral-active {
      stroke: #dbc071;
    }

    .do-not-recommend-icon:hover {
      fill: #c47575;
    }

    .do-not-recommend-active {
      stroke: #c47575;
    }

    .comment-icon:hover {
      stroke: teal;
    }

    .comment-active {
      stroke: teal;
    }
    .cost-icon-modal {
      display: flex;
      height: 30px;
      position: absolute;
    }
    .cost-icon-modal input {
      background: none;
      border: none;
      width: 80px;
      height: 30px;
      font-size: 12px;
      border-bottom: 0.5px solid rgb(100, 100, 100);
      margin: 0px 4px 0 0;
      padding: 10px 0 4px 4px;
    }

    .cost-icon-currency {
      border: none;
      background: none;
    }

    .cost-icon circle {
      stroke: rgb(150, 150, 150);
      stroke-width: 6;
    }

    .cost-icon {
      stroke-width: 6;
      transform: translateY(2px);
    }

    .cost-icon-symbol {
      stroke: rgb(150, 150, 150);
    }

    .cost-icon:hover circle,
    .cost-icon:hover path {
      stroke: purple;
    }

    .cost-active circle,
    .cost-active path {
      stroke: purple;
      stroke-width: 6px;
    }
  }
}
.comment-container {
  position: relative;

  .comment-icon-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1001;
  }

  .comment-icon-text {
    max-width: calc(100%);
    background: #e0e0eb;
    height: 100px;
    z-index: 1003;
    color: rgb(100, 100, 100);
    border-radius: 4px;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    padding: 12px 16px;
  }

  .comment-icon-overlay {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1000;
    transform: translate(-50%, -50%);
  }

  .comment-icon-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .comment-icon-save {
    border: none;
    color: rgb(248, 248, 252);
    background: rgb(100, 100, 150);
    flex: 1;
    font-size: 20px;
    height: 40px;
    margin: 2px 0 20px 0;
  }

  .comment-icon-save:focus {
    outline: none;
  }

  .comment-icon-close {
    border: none;
    background: rgb(248, 248, 252);
    box-shadow: 0 1px 1px 0 rgb(200, 200, 200);
    flex: 1;
    height: 40px;
    margin: 2px 0 10px 0;
  }

  .comment-icon-close:focus {
    outline: none;
  }
}

.review-edit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  .review-edit-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-weight: 550;
    font-size: 24px;
    background: #c2d7e5;
    color: #5791b7;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
}
