.transportation-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.transportation-feedback-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  div .comment-container .comment-icon-modal {
    max-width: 545px;
    margin-left: 4px;
  }
}
.icon-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  width: 140px;
  height: 140px;
  margin: 4px;
  padding: 0;
  box-shadow: 0 0px 2px 0 rgb(200, 200, 200);
  background: #e0e0eb;
}

.transportation-active:hover {
  background: none;
}

.transportation-icon-title {
  font-family: "Segoe UI";
  color: rgb(100, 100, 100);
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.transportation-active {
  background: #e6d5d5;
}

.icon-button-container:hover {
  background: rgb(230, 230, 240);
}

.transportation-icon {
  width: 100px;
  stroke: rgb(100, 100, 100);
  stroke-width: 2;
  display: flex;
  align-items: flex-end;
}

.transportation-icon .layer1 {
  fill: none;
  stroke: rgba(239, 150, 153, 1);
}

.transportation-icon .layer2 {
  fill: rgb(100, 100, 100);
  stroke: rgb(100, 100, 100);
}

.train-icon .layer2 {
  fill: none;
}

.boat-icon .layer2,
.cruise-icon .layer2,
.bike-icon .layer2 {
  fill: none;
}

.car-icon {
  transform: translateY(12px);
}

.bike-icon,
.vespa-icon {
  transform: translateY(16px);
}

.transportation-icon .layer3 {
  fill: rgba(239, 150, 153, 1);
}

.transportation-icon .layer4 {
  fill: rgba(239, 150, 153, 1);
}

.walk-icon {
  transform: translateY(22px);
}

.display-none {
  display: none;
}

.transportation-container-overlay {
  width: 400px;
  height: 140px;
  box-shadow: none;
  background: #fcfcfc;
}

.transportation-submitted-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.transportation-submit-button {
  background: rgb(150, 170, 150);
  border: none;
  flex: 1;
  max-width: calc(50% - 8px);
  height: 40px;
  color: rgb(248, 248, 252);
  box-shadow: 0 1px 1px 0 rgb(100, 100, 100);
  border-radius: 4px;
  margin: 4px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transportation-submit-button:focus {
  outline: none;
}

.transportation-selected-row {
  display: flex;
  align-items: center;
  height: 140px;
  margin: 4px 0;
}

.transportation-selected-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.transport-feedback-box {
  display: flex;
  
}

.transport-cost-container {
  position: relative;
  transform: translateY(-8px);
}

.transport-cost-container input {
  background: none;
  border: none;
  border-bottom: 0.5px solid rgb(100, 100, 100);
}

.transport-cost-container input:focus {
  outline: none;
}

.transportation-return-button {
  background: rgb(150, 180, 240);
  border: none;
  flex: 1;
  max-width: calc(50% - 8px);
  height: 40px;
  color: rgb(248, 248, 252);
  box-shadow: 0 1px 1px 0 rgb(100, 100, 100);
  border-radius: 4px;
  margin: 4px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transportation-return-button:focus {
  outline: none;
}

.transportation-return-button:hover {
  background: rgb(100, 130, 190);
}
