.city-review-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  .city-review-page {
    color: rgb(210, 220, 215);
    font-size: 24px;
    font-weight: 550;
    line-height: 24px;
    border-bottom: 4px solid rgb(210, 220, 215);;
    height: 40px;
  }
  .city-review-instructions {
    color: rgb(190, 200, 205);
    margin-left: 16px;
  }
  .city-review-place {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 20px;
    .city-review-separator {
      color: rgb(180, 180, 180);
      font-size: 30px;
      transform: translateY(-4px);
    }
  }
}

.city-review-title,
.city-review-subtitle {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.city-review-title {
  font-size: 24px;
  color: rgb(248, 248, 252);
  line-height: 24px;
  margin-right: 4px;
}

.city-review-subtitle {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(20, 20, 20);
  transform: translateY(2.5px);
}

.add-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
