@import "./subcomponents/LandingForm";
@import "./subcomponents/SignupForm";

.landing-container {
  height: fit-content;
  position: relative;
  .img-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .background-map {
      height: inherit;
      opacity: 0.3;
    }
  }

  .landing-motto-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-left: 80px;
    margin-top: 80px;
    font-family: "Josefin sans", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 80px;
    font-size: 40px;
    color: rgb(248, 248, 252);
    .landing-motto-two {
      margin-top: 80px;
      font-size: 50px;
      color: #8f949b;
      width: 572px;
    }
    span {
      span {
        font-family: "Segoe UI", sans-serif;

        font-weight: 100;
        color: rgb(248, 248, 252);
      }
    }
    .border-bar-container {
      display: flex;
      .landing-green-bar {
        width: 143px;
        border-bottom: 4px solid #788a8c;
      }
      .landing-red-bar {
        width: 143px;
        border-bottom: 4px solid #936c74;
      }
      .landing-blue-bar {
        width: 143px;
        border-bottom: 4px solid #67859a;
      }
      .landing-yellow-bar {
        width: 143px;
        border-bottom: 4px solid #9b8b55;
      }
    }
  }

  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .rotating-word {
    font-weight: 700;
    color: #e1b377;
  }
}

@media screen and (max-width: 700px) {
  .landing-container {
    .landing-motto-container {
      width: 100%;
      margin: 0;
      padding: 15px 20px;
      font-size: 30px;
      .landing-motto-two {
        margin-top: 40px;
        font-size: 20px;
        span {
          font-size: 25px;
        }
      }
    }
    .border-bar-container {
      span {
        width: 70px !important;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .landing-container {
    .landing-motto-container {
      line-height: 60px;
      margin: 10px auto;
      font-size: 25px;
      .landing-motto-two {
        font-size: 15px;
        span {
          font-size: 25px;
        }
      }
    }
    .border-bar-container {
      span {
        width: 70px !important;
      }
    }
  }
}
