.nav-menu-container {
  order: 3;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  a {
    cursor: pointer;
    display: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: $grey;
    letter-spacing: 1px;
    border-bottom: 4px solid $off-white;
    &:hover {
      color: #6e7377;
      background-color: rgba(158,158,158,0.2);
      border-bottom: 4px solid #a7a7a7;
    }
    &.active {
      color: #6e7377;
      border-bottom: solid 4px #a7e1ff;
    }
  }
  .nav-hamburger {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }
}

@media (min-width: 1080px) {
  .nav-menu-container {
    order: 2;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 15px;
    }
  }

  .nav-hamburger {
    display: none;
  }
}
