.user-header-container {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  .user-link {
    display: flex;
    align-items: center;
    height: 42px;
    text-decoration: none;
  }
  .user-avatar {
    margin-right: 8px;
  }
}
.username-dropdown-container {
  display: none;
}

.header-username {
  display: none;
  cursor: pointer;
  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .user-header-container {
    justify-content: flex-start;
  }

  .user-link {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    .header-username {
      display: inline-block;
      padding-right: 16px;
      margin-top: 12px;
      font-size: 16px;
      font-weight: 600;
      color: #1f272e;
    }
  }
  .username-dropdown-container {
    display: block;
  }
}
