.basics-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  display: block;
  .input-container {
    margin: 10px 0 10px 0;
    width: 400px;
    .input-header {
      color: #a1a9b7;
    }
    .placeholder {
      color: white;
      font-size: 1.3em;
      display: block;
    }
    .error {
      color: #b10606;
      font-size: 0.9em;
    }

    #birthday {
      background: #f8f8fc url("images/arrow_down.png") right no-repeat;
    }

    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
  .button {
    margin: 10px;
    margin-top: 40px;
    display: block;
    width: fit-content;
  }
}
