.basics-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  display: block;
  .input-container {
    margin: 10px 0 10px 0;
    width: 400px;
    @media screen and (max-width: 350px) {
      min-width: 200px;
      max-width: 200px;

      span {
        text-overflow: ellipsis;
        width: 180px;
        overflow: hidden;

        white-space: nowrap;
      }
    }
    .input-header {
      color: #a1a9b7;
    }
    input,
    select {
      @media screen and (max-width: 350px) {
        min-width: 200px;
        max-width: 200px;
      }
    }
    .placeholder {
      color: white;
      font-size: 1.3em;
      display: block;
    }
    .error {
      color: #b10606;
      font-size: 0.9em;
    }

    #birthday {
      background: #f8f8fc url("images/arrow_down.png") right no-repeat;
    }

    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
  .button {
    margin: 10px;
    margin-top: 40px;
    display: block;
    width: fit-content;
    @media screen and (max-width: 350px) {
      min-width: 200px;
      max-width: 200px;
      margin: 40px 0px 10px 0;
    }
    .large {
      @media screen and (max-width: 350px) {
        min-width: 160px;
        max-width: 160px;
        margin: 10px 0 10px 0;
      }
    }
  }
}
