.settings-security-container {
  margin: 10px 0 0 10px;
  .security-header {
    color: #a1a9b7;
    font-size: 24px;
    font-weight: 550;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(248, 248, 252, 0.2);
    display: block;
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 8px;

    .security-subheader {
      margin-top: 15px;
      color: #a1a9b7;
      letter-spacing: 2px;
      margin-bottom: 8px;
      min-width: 300px;
    }

    span.validate {
      margin: 4px;
      color: #b10606;
      font-size: 1em;
      margin-bottom: -8px;
    }

    input.button {
      margin-top: 20px;
    }
  }
}
