.settings-security-container {
  margin: 28px 20px 0 20px;
  .security-header {
    color: #a1a9b7;
    font-size: 24px;
    font-weight: 550;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(248, 248, 252, 0.2);
    display: block;
    @media screen and (max-width: 900px){
      width: 232px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 8px;

    .security-subheader {
      margin-top: 15px;
      color: #a1a9b7;
      letter-spacing: 2px;
      margin-bottom: 8px;
      min-width: 300px;
    }

    span.validate {
      margin: 4px;
      color: #b10606;
      font-size: 1em;
      margin-bottom: -8px;
    }

    input.button {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    input {
      width: 300px;
      @media screen and (max-width: 600px){
        width: 228px;
      }
    }
  }
  .warning {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 8px;
    @media screen and (max-width: 900px){
      width: 228px;
      font-size: 18px;
    }
  }
}
