.settings-security-container {
  margin: 28px 20px 0 20px;
  .security-header {
    color: #a1a9b7;
    font-size: 24px;
    font-weight: 550;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(248, 248, 252, 0.2);
    display: block;
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 8px;

    .security-subheader {
      margin-top: 15px;
      color: #a1a9b7;
      letter-spacing: 2px;
      margin-bottom: 8px;
      min-width: 300px;
    }
    .security-password-input {
      color: rgb(210, 224, 233);
      font-family: "Segoe UI", sans-serif;
      font-size: 16px;
      background: #4f5867;
      border: none;
      border-radius: 16px;
      padding-left: 12px;
      box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.15);
      height: 32px;
      width: 200px;
      &:focus {
        border: 2px solid #ccc; 
        outline: none;
      }
      @media (min-width: 900px) {
        width: 300px;
      }
      @media (min-width: 1000px) {
        width: 400px;
      }
    }

    span.validate {
      margin: 4px;
      color: #b10606;
      font-size: 1em;
      margin-bottom: -8px;
    }

    input.submit-button {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #a7e1ff;
      height: 40px;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      border-radius: 4px;
      font-size: 1.4em;
      outline: none;
      color: #4f5867;
      font-weight: 300;
      border: none;
      &:hover {
        background-color: #a7e1af;
      }
      &:active {
        background-color: #88a1b7;
      }
    }
  }

  .security-delete-button {
    margin: 10px 0 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 40px;
    border-radius: 4px;
    font-weight: 550;
    font-size: 18px;
    background: #ecd7db;
    color: #bb6f7e;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
    @media (min-width: 1000px) {
      width: 300px;
      font-size: 24px;
    }
  }
}
