.social-container {
  margin: 15px;
  width: 100%;
  h3.header {
    position: relative;
    color: #a1a9b7;
    font-size: 24px;
    font-weight: 550;
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(248, 248, 252, 0.2);
    margin: 10px;
  }
  .social-placeholder {
    color: white;
    font-size: 1.3em;
    display: block;
    margin: 10px;
  }

  .media-container {
    display: inline-block;
    width: fit-content;
    margin: 10px;
    @media screen and (max-width: 400px){
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 132px;
    }
    .icon {
      fill: #a7e1ff;
      svg {
        margin: 10px 0 0 0;
        height: 40px;
        width: 40px;
      }
    }

    &.edit {
      margin: 10px;

      .input {
        display: inline-block;
        position: relative;
        top: -14px;
        margin: 0 0 5px 10px;
        @media screen and (max-width: 400px){
          max-width: 200px;
          transform: translateX(-8px);
        }
        @media screen and (max-width: 350px){
          max-width: 180px;
        }
      }
    }
  }
  span.button {
    margin: 10px;
    display: block;
    width: fit-content;
  }
}
