.traveler-settings-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
  .traveler-settings-header {
    position: relative;
    color: #a1a9b7;
    font-size: 24px;
    font-weight: 550;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(248, 248, 252, 0.2);
    margin: 10px;
    .button {
      position: absolute;
      top: -12px;
      right: 60px;
    }
  }
  .traveler-tag-container {
    display: flex;
    flex-wrap: wrap;
  }
  .travel-tag {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #4f5867;
    border: none;
    flex: 1;
    min-width: 160px;
    min-height: 160px;
    color: rgb(248, 248, 252);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 4px;
    font-size: 20px;
    .travel-tag-icon .interest-icon {
      width: 60px;
      height: 60px;
      path {
        fill: rgb(240, 240, 248);
      }
      circle {
        fill: rgb(240, 240, 248);
      }
    }
    .travel-tag-title {
      position: absolute;
      bottom: 16px;
      color: rgb(189, 189, 195);
    }
  }
  .travel-tag-active {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    flex: 1;
    min-width: 160px;
    min-height: 160px;
    color: rgb(248, 248, 252);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 4px;
    font-size: 20px;
    background: rgb(248, 248, 252);
    .travel-tag-icon .interest-icon {
      width: 60px;
      height: 60px;
    }
    .travel-tag-title {
      position: absolute;
      bottom: 16px;
    }
  }
}
