.page-not-found.container {
  color: $light-blue;
  font-size: 1.4em;
  p {
    a {
      color: white;
    }
  }
  h2 {
    color: $grey;
  }
  ul {
  }

  @media (max-width: 600px) {
    margin: 10px;
  }
}
