.content-nav {
  display: flex;
  max-width: 800px;
  @media (min-width: 1400px) {
    max-width: 1000px;
  }
  .profile-nav-links {
    flex: 1;
    a {
      color: $link-color;
      font-size: 24px;
      text-decoration: none;
      display: inline-block;
      text-transform: lowercase;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 8px 0;
      margin: 8px 20px 0;
      &.active {
        border-bottom: 4px solid #a7e1ff;
      }
    }
  }
  .profile-nav-filter-container {
    display: flex;
    align-items: center;
    padding: 0 16px 0 8px;
    .profile-search {
      height: 32px;
      background: #3f4b57;
      box-shadow: inset 0 0 2px rgb(180, 180, 180);
      border: 0;
      border-radius: 30px;
      padding: 8px 10px 8px 30px;
      color: #B7BFCC;
      &:focus {
        outline: none;
      }
    }
  }
}
