@import "./Sidebar/Sidebar";
@import "./ProfileNav";
@import "./subpages/Settings";
@import "./subpages/Settings/Contact.scss";
@import "./subpages/Settings/Security.scss";
@import "./subpages/Trips/Trips";
@import "./subpages/Friends/PotentialFriendCard.scss";
@import "./subpages/Friends/FriendCard.scss";

.page-profile {
  .container {
    display: grid;
    grid-template-columns: [sidebar] 350px [content] auto;
    grid-template-rows: [nav] 70px [content] auto;
    grid-gap: 10px 20px;
    padding-bottom: 25px;
    @media (max-width: 850px) {
      grid-template-columns: [sidebar] 280px [content] auto;
    }
  }

  .content-nav,
  .content {
    background: #656f80;
    box-shadow: 1px 2px 1px rgba(#000, 0.16);
    border-radius: 4px;
  }
}
