@import "./Sidebar/Sidebar";
@import "./ProfileNav";
@import "./subpages/Settings";
@import "./subpages/Settings/Social.scss";
@import "./subpages/Settings/Security.scss";
@import "./subpages/Settings/Basics.scss";
@import "./subpages/Settings/Traveler.scss";
@import "./subpages/Friends/PotentialFriendCard.scss";
@import "./subpages/Friends/FriendCard.scss";
@import "./subpages/Cities/ProfileCityCard.scss";
@import "./subpages/Cities/CityReviewCard.scss";
@import "./subpages/Cities/ProfileCities.scss";
@import "./subpages/Cities/LogisticsInputContainer.scss";
@import "./subpages/Cities/CityBasicsContainer.scss";
@import "./subpages/Cities/CityCommentaryContainer.scss";

.page-profile {
  .container {
    padding: 10px !important;
    display: grid;
    grid-template-columns: [sidebar] 350px [content] auto;
    grid-template-rows: [nav] 70px [content] auto;
    grid-gap: 8px 15px;
    padding-bottom: 25px;
    @media (max-width: 850px) {
      grid-template-columns: [sidebar] 280px [content] auto;
    }

    .content {
      background: #656f80;
      box-shadow: 1px 2px 1px rgba(#000, 0.16);
      border-radius: 4px;
      display: flex;
      max-width: 800px;
      @media (min-width: 1400px) {
        max-width: 1000px;
      }
      .content-results {
        display: flex;
      }

      .sidebar-filter {
        width: 60px;
        min-width: 60px;
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        padding-top: 20px;
        border-right: 1px solid rgba(black, 0.2);
        transition: all 0.3s;
        a,
        button {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          font-family: "Segoe UI", sans-serif;
          font-size: 20px;
          line-height: 20px;
          font-weight: 300;
          color: $link-color;
          letter-spacing: 3px;
          text-align: right;
          padding: 10px 10px;
          transition: 0.2s linear all;
          background: none;
          border: none;
          svg {
            fill: #8792a4;
            width: 24px;
            height: 24px;
          }
          &.active,
          &:hover {
            color: white;
            outline: none;
            svg {
              fill: #a7e1ff;
            }
          }
        }
      }
      .sidebar-filter-active {
        width: 180px;
        min-width: 180px;
      }
    }
  }
}

.user-profile {
  .not-found-container {
    margin: auto;
    padding: 20px;
    .not-found-header {
      color: $light-green;
    }
  }
}

.profile-cities {
  .content-results {
    display: flex;
    margin: 28px 20px;
    width: 700px;
    flex-wrap: wrap;
    align-content: flex-start;
    a {
      text-decoration: none;
    }
  }
}
