@import "./Sidebar/Sidebar";
@import "./ProfileNav";
@import "./subpages/Settings";
@import "./subpages/Settings/Social.scss";
@import "./subpages/Settings/Security.scss";
@import "./subpages/Settings/Basics.scss";
@import "./subpages/Settings/Traveler.scss";
@import "./subpages/Friends/PotentialFriendCard.scss";
@import "./subpages/Friends/FriendCard.scss";
@import "./subpages/Cities/ProfileCityCard.scss";
@import "./subpages/Cities/ProfileCities.scss";

.page-profile {
  .container {
    padding: 10px !important;
    padding-bottom: 25px;
    @media (max-width: 850px) {
      grid-template-columns: [sidebar] 280px [content] auto;
    }

    .content {
      background: #656f80;
      box-shadow: 1px 2px 1px rgba(#000, 0.16);
      border-radius: 4px;
      display: flex;
      margin: 4px 20px;
      min-height: calc(96%);
      // max-width: 800px;
      @media (min-width: 1400px) {
        max-width: 1560px;
      }
      .content-results {
        display: flex;
        position: relative;
      }

      .sidebar-filter {
        width: 60px;
        min-width: 60px;
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        padding-top: 20px;
        border-right: 1px solid rgba(black, 0.2);
        transition: all 0.3s;
        a,
        button {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          font-family: "Segoe UI", sans-serif;
          font-size: 20px;
          line-height: 20px;
          font-weight: 300;
          color: $link-color;
          letter-spacing: 3px;
          text-align: right;
          padding: 10px 10px;
          transition: 0.2s linear all;
          background: none;
          border: none;
          svg {
            fill: #8792a4;
            width: 24px;
            height: 24px;
          }
          &.active,
          &:hover {
            color: white;
            outline: none;
            svg {
              fill: #a7e1ff;
            }
          }
        }
      }
      .sidebar-filter-active {
        width: 180px;
        min-width: 180px;
      }
    }
  }
}

.user-profile {
  .not-found-container {
    margin: auto;
    padding: 20px;
    .not-found-header {
      color: $light-green;
    }
  }
}

.profile-cities {
  .content-results {
    display: flex;
    margin: 28px 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    a {
      text-decoration: none;
    }
  }
}

.planning-map {
  width: 1480px;
  height: calc(100vh - 400px);
  display: flex;
  overflow: hidden;
  position: relative;
  .city-planning-map-container {
    position: relative;
    display: flex;
    width: 100%;
    left: 0;
    height: 100%;
  }
  .mapboxgl-control-container {
    display: flex;
    justify-content: center;
    position: relative;
    .mapboxgl-ctrl-top-left {
      height: 20px;
      display: flex;
      justify-content: center;
      min-width: 600px;
      left: calc(50% - 310px) !important;
      .mapboxgl-ctrl-geocoder {
        top: 0px;
        min-width: 600px;
        box-shadow: 0 3px 6px 2px rgba(black, 0.15);
        background: rgb(248, 248, 252);
        @media screen and (max-width: 600px) {
          min-width: 500px;
        }
        @media screen and (max-width: 450px) {
          min-width: 400px;
          top: 80px;
        }
        @media screen and (max-width: 320px) {
          max-width: 300px;
          min-width: 300px;
        }
        input {
          color: rgb(74, 89, 90) !important;
          min-width: 560px;
        }
      }
    }
  }
}
