@import "./subcomponents/MapInfoContainer";
@import "./subcomponents/MapSearch";
@import "./subcomponents/MapScorecard";
@import "./subcomponents/CityMap";

.map-container {
  display: flex;
  height: calc(100% - 30px);
  width: 80vw;
  margin: 0 auto;
  .map {
    width: 100%;
    max-width: 80vw;
    margin: 0 0 0 0;
    height: calc(100% - 30px);
    &:focus {
      outline: none;
    }
    .map-header-container {
      display: flex;
      max-width: 1000px;
      margin: 0 auto;
      align-items: center;
      .map-header-button {
        flex: 1;
        button {
          width: 200px;
          height: 40px;
          background: none;
          border: none;
          border-radius: 24px;
          box-shadow: 0 1px 1px 1px #3f4b57;
          font-size: 18px;
          color: rgb(150, 150, 150);
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background: rgb(200, 200, 200);
          }
        }
      }
      .map-header-filler {
        flex: 1;
      }
    }
    .continent-container {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      @media screen and (min-width: 2400px) {
        transform: translateY(-60px);
      }
      button {
        z-index: 2;
        background: none;
        border: none;
        font-size: 18px;
        font-family: "Segoe UI", sans-serif;
        color: rgb(232, 232, 232);
        &:hover {
          color: $grey;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
