@import "./subcomponents/MapInfoContainer";
@import "./subcomponents/MapSearch";
@import "./subcomponents/MapScorecard";
@import "./subcomponents/CityMap";
@import "./subcomponents/NewUserCity";
@import "./subcomponents/NewUserSuggestions";
@import "./subcomponents/FriendCityMap";
@import "./subcomponents/ImportPopup";

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 60px);
  width: 100vw;
  margin: 0 auto;
  .country-map {
    margin: 0px;
    height: calc(100% - 60px);
    position: relative;
    text-align: center;
    .rsm-svg {
      width: calc(100% - 0px);
      height: calc(100% - 100px);
      transform: translate(0, -0px);
      .rsm-zoomable-group {
        @media (max-width: 1000px) {
          transform: none;
        }
      }
    }
  }
  .map {
    width: 100%;
    &:focus {
      outline: none;
    }
    #country-map-share {
      top: 16px;
    }

    .map-header-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (min-width: 1000px) {
        flex-direction: row;
        min-width: 900px;
        margin: 0px auto;
      }
      .map-header-button {
        display: flex;
        justify-content: flex-end;
        max-width: 267px;
        flex: 1;
        z-index: 2;
        button {
          width: 200px;
          height: 40px;
          background: rgb(248, 248, 252);
          border: none;
          border-radius: 24px;
          box-shadow: 0 1px 1px 1px #3f4b57;
          font-size: 18px;
          color: rgb(79, 89, 90);
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background: rgb(200, 200, 200);
            color: #3f4b57;
          }
        }
      }
      .map-header-filter {
        display: flex;
        justify-content: center;
        max-width: 267px;
        flex: 1;
        z-index: 2000;
        button {
          width: 200px;
          height: 40px;
          background: #3f4b57;
          border: none;
          border-radius: 24px;
          box-shadow: 0 1px 1px 1px #3f4b57;
          font-size: 18px;
          color: rgb(150, 150, 150);
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background: rgb(200, 200, 200);
            color: #3f4b57;
          }
        }
      }
      .map-header-filler {
        flex: 1;
        height: 72px;
        max-width: 267px;
      }
    }
    .continent-container {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 8px auto;
      transform: translateY(8px);
      @media (max-width: 500px) {
        max-width: 200px;
        flex-wrap: wrap;
      }
      button {
        z-index: 2;
        background: none;
        border: none;
        font-size: 18px;
        font-family: "Segoe UI", sans-serif;
        color: rgb(232, 232, 232);
        @media (max-width: 1000px) {
          font-size: 14px;
        }
        @media (max-width: 800px) {
          font-size: 12px;
        }
        @media (max-width: 600px) {
          font-size: 10px;
        }
        &:hover {
          color: $grey;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

#country-header {
  display: flex;
  flex-direction: column-reverse;
  max-width: 1020px;
  width: 100%;
  margin: 20px auto;
  align-items: center;
  @media (min-width: 1000px) {
    flex-direction: row;
    min-width: 900px;
    margin: 0px auto;
  }
  #country-button {
    position: relative;
    top: 0;
    left: 0;
  }
}

.country-map .map-header-container .map-header-button .sc-controls {
  background: #f8f8fc;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 15px;
  height: 42px;
  width: 60px;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(19, 18, 18, 0.5);
  cursor: pointer;
  &:hover {
    svg {
      fill: #528fb1;
    }
  }
  @media (max-width: 700px) {
    display: none;
  }
}
.sc-controls-left {
  left: calc(50% - 334px);
  @media (max-width: 800px) {
    left: calc(50% - 294px);
  }

}

.new-map-suggest {
  display: flex;
  position: relative;
  fill: #92bad0;
  cursor: pointer;
  font-size: 24px;
  color: rgb(200, 200, 200);
  .sc-control-label {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 40px;
    left: -18px;
    font-size: 12px;
    border-radius: 8px;
    min-width: 56px;
    color: #dee2e6;
    font-weight: 550;
  }

  svg {
    width: 18px;
    transform: translateY(2px);
  }
  &:hover {
    fill: #528fb1;
  }
}

.public-country-map-header {
  .map-search-container {
    position: absolute;
    top: 0px;
    left: calc(50% - 268px);
  }
  .sc-controls {
    background: #f8f8fc;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: calc(50% - 336px);
    top: 14px;
    height: 42px;
    width: 60px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(19, 18, 18, 0.5);
    cursor: pointer;
    &:hover {
      svg {
        fill: #528fb1;
      }
    }
    .sc-control-label {
      top: 38px;
      color: #dee2e6;
    }
  }
}

.country-map {
  .city-side-menu {
    height: calc(100% - 60px);
    padding: 0;
    top: 60px;
  }
  .side-menu-container {
    #new-city-map-button-side-menu {
      display: flex;
      justify-content: center;
      position: relative;
      top: 200px;
      left: 0px;
      width: 60px;
      height: 42px;
      background: #f8f8fc;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(19, 18, 18, 0.5);
      cursor: pointer;
    }
  }
  .country-svg {
    fill: #6E7377;
    stroke: rgb(100, 100, 100);
    stroke-width: 0.75;
    outline: none;
    &:hover {
      fill: rgb(180, 180, 180);
      stroke: rgb(180, 180, 180);
      stroke-width: 0.75;
      outline: none;
    }
    &:active {
      fill: #a7e1ff;
      stroke: #a7e1ff;
      stroke-width: 0.75;
      outline: none;
    }
  }
  .past-country-fill {
    fill: #CB7678;
  }
  .future-country-fill {
    fill: #73A7C3;
  }
  .live-country-fill {
    fill: #96B1A8;
  }
  .past-future-country-fill {
    fill: #a780cd;
  }
}

