.city-map-container {
  position: absolute;
  display: flex;
  width: 100vw;
  height: calc(100% - 60px);
  left: 0;
  .city-new-side-menu {
    height: calc(100% - 60px);
    padding: 0;
    top: 60px;
  }
  img {
    object-fit: cover;
    width: 100%;
    margin-top: -40px;
  }
}

.map-container .city-map .map-header-container {
  position: absolute;
  flex-direction: row !important;
  margin: 0 !important;
  left: calc(50% - 100px);
  top: 108px;
  @media (min-width: 900px) {
    left: calc(50% - 460px);
    top: 80px;
  }
  @media (min-width: 1000px) {
    left: calc(50% - 500px);
  }
}

.city-map {
  .city-map-header-container {
    position: absolute;
    padding-top: 54px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .map-header-button-container {
    position: absolute;
    left: calc(50% + 396px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 88px;
  }
}

.mapboxgl-ctrl-top-left {
  top: 5px !important;
  left: calc(50% - 206px) !important;
}

.mapboxgl-ctrl-geocoder {
  position: absolute;
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 396px;
  height: 40px;
  margin: 16px auto 16px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.15);
  background: #3f4b57;

  label {
    text-transform: none;
    transform: translate(-20px, -4px);
  }
  input {
    display: flex;
    align-items: center;
    width: 360px;
    height: 36px;
    border-bottom: none;
    font-size: 24px;
    font-family: "Segoe UI";
    font-weight: 100;
    line-height: 1.5em;
    border: 0;
    padding: 6px 45px;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: text;
    background: none;
    color: rgb(168, 168, 172) !important;
    &:focus {
      outline: 0;
    }
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    width: 28px;
    height: 28px;
    fill: rgb(210, 210, 210);
    top: 6px;
  }
  .mapboxgl-ctrl-geocoder--pin-right {
    button {
      background: none;
      border: none;
      fill: rgb(220, 220, 220);
    }
  }
}

.city-map-tooltip,
.city-friends-map-tooltip {
  .mapboxgl-popup {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    will-change: transform;
    pointer-events: none;
  }

  .mapboxgl-popup-anchor-top,
  .mapboxgl-popup-anchor-top-left,
  .mapboxgl-popup-anchor-top-right {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .mapboxgl-popup-anchor-bottom,
  .mapboxgl-popup-anchor-bottom-left,
  .mapboxgl-popup-anchor-bottom-right {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .mapboxgl-popup-anchor-left {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .mapboxgl-popup-anchor-right {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .mapboxgl-popup-tip {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    z-index: 1;
    border-top-color: #3f4b57 !important;
  }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-top: none;
    border-bottom-color: rgba(115, 167, 195, 0.95) !important;
  }

  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    border-top: none;
    border-left: none;
    border-bottom-color: rgba(115, 167, 195, 0.75) !important;
  }

  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    border-top: none;
    border-right: none;
    border-bottom-color: rgba(115, 167, 195, 0.75) !important;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-bottom: none;
    border-bottom-color: rgba(115, 167, 195, 0.95) !important;
    border-top-color: rgba(115, 167, 195, 0.75);
  }

  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    border-bottom: none;
    border-left: none;
    border-top-color: rgba(115, 167, 195, 0.75) !important;
  }

  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    border-bottom: none;
    border-right: none;
    border-top-color: rgba(115, 167, 195, 0.75);
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-left: none;
    border-right-color: rgba(115, 167, 195, 0.75);
  }

  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-right: none;
    border-left-color: rgba(115, 167, 195, 0.75);
  }

  .mapboxgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
    color: red;
  }

  .mapboxgl-popup-close-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .mapboxgl-popup-content {
    position: relative;
    border-radius: 12px;
    // border-top: 1px solid white;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.15);
    padding: 10px;
    pointer-events: auto;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    // background: rgba(230, 230, 232, 0.95);
    background: #3f4b57;
    color: #c2c4c6;
    cursor: pointer;
  }
}

.map-header-cta {
  position: absolute;
  top: 16px;
  right: calc(50% - 480px);
  display: flex;
  justify-content: center;
  max-width: 267px;
  flex: 1 1;
  z-index: 2;
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 1000px) {
    top: 72px;
    right: calc(50% - 220px);
  }
  button {
    width: 200px;
    height: 40px;
    background: #73a7c3;
    border: 2px solid white;
    border-radius: 24px;
    box-shadow: 0 0px 14px 2px rgba(#a7e1ff, 0.75);
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: rgb(248, 248, 252);
  }
}
#map-header-readonly {
  top: 0px;
  .sc-controls {
    background: #f8f8fc;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: calc(50% - 372px);
    top: 74px;
    height: 42px;
    width: 60px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(19, 18, 18, 0.5);
    z-index: 1;
    cursor: pointer;
    &:hover {
      svg {
        fill: #528fb1;
      }
    }
    .sc-control-label {
      top: 38px;
      color: #dee2e6;
    }
    #map-change-icon {
      transform: translateY(-8px);
    }
  }
  .sc-controls-left {
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.user-map-name {
  position: absolute;
  font-size: 32px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(248, 248, 252);
  top: 8px;
  left: calc(50% - 200px);
  height: 50px;
  width: 400px;
  z-index: 2;
  border-bottom: 2px solid #a7e1ff;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 450px) {
    font-size: 24px;
    transform: translateX(20px);
    width: 240px;
    left: calc(50% - 120px);
  }
}

.city-map-container {
  position: absolute;
  display: flex;
  width: 100vw;
  left: 0;
  .sc-controls {
    background: #f8f8fc;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: calc(50% + 306px);
    top: 74px;
    height: 42px;
    width: 60px;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(19, 18, 18, 0.5);
    cursor: pointer;
    &:hover {
      svg {
        fill: #528fb1;
      }
    }
  }
  .sc-controls-left {
    left: calc(50% - 366px);
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .sc-controls-right {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .new-map-suggest {
    display: flex;
    position: relative;
    fill: #92bad0;
    cursor: pointer;
    font-size: 24px;
    color: rgb(200, 200, 200);
    .sc-control-label {
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      top: 40px;
      left: -18px;
      font-size: 12px;
      border-radius: 8px;
      min-width: 56px;
      color: #dee2e6;
      font-weight: 550;
    }

    svg {
      width: 18px;
      transform: translateY(2px);
    }
    &:hover {
      fill: #528fb1;
    }
  }

  .mapboxgl-control-container {
    display: flex;
    justify-content: center;
    position: relative;
    .mapboxgl-ctrl-top-left {
      height: 20px;
      display: flex;
      justify-content: center;
      min-width: 600px;
      left: calc(50% - 310px) !important;
      .mapboxgl-ctrl-geocoder {
        top: 60px;
        min-width: 600px;
        box-shadow: 0 3px 6px 2px rgba(black, 0.15);
        background: rgb(248, 248, 252);
        @media screen and (max-width: 720px) {
          min-width: 500px;
        }
        @media screen and (max-width: 600px) {
          min-width: 450px;
        }
        @media screen and (max-width: 550px) {
          min-width: 400px;
        }
        @media screen and (max-width: 500px) {
          min-width: 350px;
          transform: translateX(20px);
        }
        @media screen and (max-width: 450px) {
          min-width: 300px;
        }
        @media screen and (max-width: 400px) {
          max-width: 280px;
          min-width: 280px;
        }
        @media screen and (max-width: 320px) {
          max-width: 260px;
          min-width: 260px;
        }

        input {
          color: rgb(74, 89, 90) !important;
          min-width: 560px;
        }
      }
    }
  }
}

#map-change-icon {
  svg {
    width: 28px;
  }
}

.city-map-scorecard {
  position: absolute;
  width: 200px;
  height: 80px;
  top: 240px;
  left: calc(50% - 560px);
  @media screen and (max-width: 1250px) {
    display: none;
  }
  @media screen and (max-width: 900px) {
    top: calc(100% - 120px);
    left: calc(50% - 60px);
  }
}
.city-map .georney-score,
#map-readonly .georney-score {
  position: absolute;
  bottom: 60px;
  left: calc(50% - 100px);
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  @media screen and (max-height: 1000px) {
    bottom: 20px;
  }
  @media screen and (max-width: 500px) {
    left: calc(50% - 80px);
  }
  @media screen and (max-height: 400px) {
    left: calc(50% + 240px);
    bottom: 20px;
  }
  @media screen and (max-height: 400px) and (max-width: 800px) {
    left: calc(50% - 280px);
  }

  @media screen and (max-height: 300px) {
    display: none;
  }
  .gs-title {
    color: #cfd4da;
    font-weight: 550;
    font-size: 24px;
    @media screen and (max-height: 750px) {
      font-size: 20px;
    }
    @media screen and (max-height: 600px) {
      font-size: 16px;
    }
  }
  .gs-score {
    margin-top: 4px;
    color: #92bad0;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    border: 4px solid #92bad0;
    border-radius: 50%;
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f3f5;
    box-shadow: 0 0 14px 2px rgba(167, 225, 255, 0.5);
    @media screen and (max-height: 750px) {
      height: 60px;
      width: 75px;
      font-size: 24px;
    }
    @media screen and (max-height: 600px) {
      height: 40px;
      width: 50px;
      font-size: 20px;
    }
  }
}
.user-timing-control {
  position: absolute;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 60px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Segoe UI", sans-serif;
  font-size: 30px;
  color: rgb(248, 248, 252);
  z-index: 5;
  overflow: hidden;
  border-radius: 0.25em;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    font-size: 24px;
  }
  @media screen and (max-width: 500px) {
    left: calc(50% - 280px);
  }
  select:active,
  select:hover {
    outline: none;
  }
  select {
    background: none;
    border: none;
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    color: rgb(248, 248, 252);
    margin-left: 8px;
    padding-right: 40px;
    border-bottom: 1px solid rgb(248, 248, 252);
    min-height: 32px;
    cursor: pointer;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      font-size: 24px;
      margin-left: 54px;
    }
    option {
      min-height: 80px;
      width: 400px;
      &:hover {
        background: none;
      }
    }
    #select-past {
      color: #cb7678;
      background: #ecd7db;
    }
    #select-future {
      color: #73a7c3;
      background: #c2d7e5;
    }
    #select-live {
      color: #96b1a8;
      background: #d1dcdb;
    }
  }
  &::after {
    content: "\25BC";
    font-size: 20px;
    position: absolute;
    top: 16px;
    right: 60px;
    background: none;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }
  &:hover::after {
    color: #769f93;
  }
}

.personal-map-share {
  top: 60px;
  color: #769f93;
  background: $light-green;
  box-shadow: 0 0 14px 2px rgba(197, 238, 143, 0.75);
  svg {
    margin-left: 6px;
    fill: #769f93;
  }
  &:hover {
    background: rgb(248, 248, 252);
    color: #769f93;
  }
  @media screen and (max-width: 800px) {
    left: calc(50% - 300px);
  }
  @media screen and (max-width: 700px) {
    left: calc(50% - 210px);
  }
  @media screen and (max-width: 500px) {
    left: calc(50% - 40px);
  }
}

.personal-map-save {
  top: 104px;
  color: rgb(248, 248, 252);
  background: #73a7c3;
  box-shadow: 0 0 14px 2px rgba(167, 225, 255, 0.75);
  background: linear-gradient(
    to right,
    #73a7c3 33.33%,
    #037da6 33.33%,
    #037da6 66.66%,
    #73a7c3 66.66%
  );
  background-size: 300% 100%;
  background-position: left bottom;
  transition: all 0.2s ease-out;
  svg {
    margin-left: 18px;
    path {
      fill: rgb(248, 248, 252);
    }
  }
  &:hover {
    background: rgb(248, 248, 252);
    color: #73a7c3;

    svg path {
      fill: #73a7c3;
    }
  }
  @media screen and (max-width: 800px) {
    left: calc(50% + 240px);
  }
  @media screen and (max-width: 700px) {
    left: calc(50% + 160px);
  }
  @media screen and (max-width: 500px) {
    left: calc(50% + 28px);
  }
}

.personal-map-share,
.personal-map-save {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding-left: 28px;
  font-family: "Segoe UI", sans-serif;
  border-radius: 24px;
  border: 2px solid #fff;
  width: 200px;
  z-index: 1;
  font-weight: 700;
  cursor: pointer;
  &.loading-animation {
    animation-name: loading-animation-keyframes;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: all 0.1s ease;
  }
  @media (max-width: "1250px") {
    right: calc(50% - 440px);
    width: 60px;
    justify-content: center;
    padding-left: 0px;
    svg {
      margin-left: 0;
    }
    span {
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
    right: calc(50% - 380px);
  }
  @media screen and (max-width: 800px) {
    top: 16px;
  }
  @media screen and (max-width: 500px) {
    top: 120px;
  }
  #myShareLink {
    opacity: 0;
    z-index: -100;
    position: absolute;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  @media screen and (max-width: 1250px) {
    // right: calc(50% - 440px);
  }
}

.personal-map-save-noclick {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  &:hover {
    color: rgb(248, 248, 252);
    background: #73a7c3;
    svg path {
      fill: rgb(248, 248, 252);
    }
  }
}
.city-tooltip-nosave {
  display: flex;
  align-items: center;
  span:nth-child(2) {
    font-weight: 400;
  }
  span:nth-child(3) {
    margin-top: 4px;
  }
  button {
    min-width: 80px;
    margin-left: 4px;
  }
}

#country-map-tooltip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .country-map-tooltip-country {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 6px;
    color: #DCDCDC;
    text-transform: uppercase;
  }
  .country-map-tooltip-capital {
    font-size: 12px;
    font-weight: 100;
    color: #c7c7c7;
  }
}

#sc-controls-city-side-menu {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 48px;
  left: 95px;
  top: 320px;
  @media screen and (min-width: 900px) {
    display: none;
  }
}

#new-country-scorecard {
  .map-scorecard-container {
    bottom: 60px;
    left: 100px;
    @media screen and (max-width: 1250px) {
      display: none;
    }
    @media screen and (max-height: 500px) {
      top: 180px;
    }
  }
  .map-info-container {
    bottom: 120px;
    left: 100px;
    @media (max-height: 900px) {
      transform: translate(-40px, 120px);
    }
  }
}

.mapboxgl-ctrl-geocoder--icon-close {
  margin-top: 4px;
}

.city-map-readonly {
  .city-new-side-menu {
    top: 0;
    height: 100%;
  }
}

.city-map-tooltip,
.city-friends-map-tooltip {
  animation: showTooltip 0.5s 0s 1, hideTooltip 0.5s 4.5s 1 forwards;
}

@keyframes loading-animation-keyframes {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes showTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideTooltip {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.city-map-popup-duplicate {
  max-width: 320px;
  background: #3f4b57;
  box-shadow: 0 0 16px 1px rgba(255, 255, 255, .15);
  .city-map-popup-header {
    width: 280px;
    .city-map-popup-title {
      font-weight: 400;
      font-size: 24px;
      color: #c2c4c6;
    }
  }
  .city-map-popup-confirm {
    background: #f8f8fc;
    color: rgb(203, 118, 120);
    font-weight: 700;
    &:hover {
      color: #f8f8fc;
      background: rgb(203, 118, 120);
    }
  }
  .city-map-popup-deny {
    background: #92bad0;
    font-weight: 700;
  }
}
