.mapboxgl-ctrl-geocoder--input,
.mapboxgl-ctrl-geocoder--input:focus {
  color: orange !important;
}

.map-header-cta {
  button {
    position: absolute;
    top: 60px;
    height: 80px;
    width: 200px;
    height: 40px;
    background: #3f4b57;
    border: none;
    border-radius: 24px;
    box-shadow: 0 1px 1px 1px #3f4b57;
    font-size: 18px;
    color: #969696;
    cursor: pointer;
  }
}
#friend-city-map-container {
  .mapboxgl-control-container {
    .mapboxgl-ctrl-top-left {
      height: 20px;
      display: flex;
      justify-content: center;
      min-width: 600px;
      left: calc(50% - 310px) !important;
      .mapboxgl-ctrl-geocoder {
        top:5px;
        min-width: 600px;
        box-shadow: 0 3px 6px 2px rgba(black, 0.15);
        background: rgb(248, 248, 252);
        @media screen and (max-width: 600px) {
          min-width: 500px;
        }
        @media screen and (max-width: 450px) {
          min-width: 400px;
          top: 80px;
        }
        @media screen and (max-width: 320px) {
          max-width: 300px;
          min-width: 300px;
        }
        input {
          color: rgb(74, 89, 90) !important;
          min-width: 560px;
        }
      }
    }
  }
}

.friend-city-map {
  .map-header-button {
  }
}
