.map-info-container {
    position: absolute;
    bottom: -140px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: fit-content;
    z-index: 0;
    transform: translate(-40px, 40px);
    pointer-events: none;
    @media (max-width: "900px") {
        transform: translate(-20px, 40px);
      }
      @media (max-height: 900px) {
        transform: translate(-40px, 230px);
      }
      @media (max-height: 800px) {
        // display: none;
      }
    .map-info-country {
        font-size: 42px;
        font-weight: 300;
        letter-spacing: 6px;
        color: #DCDCDC;
        text-transform: uppercase;
        @media (max-width: 700px) {
            font-size: 30px;
            font-weight: 250;
            letter-spacing: 4px;
          }
    }
    .map-info-capital {
        font-size: 24px;
        font-weight: 100;
        color: #969696;
        .map-info-capital-icon {
            margin-right: 8px;
        }
    }
} 
