.city-map-scorecard .map-scorecard-container {
  transform: translate(-80px, 440px);
  @media (min-width: "1200px") {
    transform: translate(-80px, 440px);
  }
  @media (min-width: "1800px") {
    transform: translate(-80px, 540px);
  }
}

.map-scorecard-container {
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  max-width: 200px;
  height: 120px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #3f4b57;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  transform: translate(-40px, -0px);

  @media (min-width: "1200px") {
    transform: translate(-80px, -340px);
  }
  @media (min-width: "1800px") {
    transform: translate(-80px, -540px);
  }

  .drag-icon {
    fill: $light-green;
    height: 30px;
    width: 30px;
    right: 5px;
    top: 10px;
    position: absolute;
    cursor: pointer;
    display: none;
  }

  &:hover > .drag-icon {
    display: block;
  }

  .scorecard-checkbox-label {
    display: flex;
    flex: 1;
    opacity: 0.5;
    min-height: 36px;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    &:not(:last-child) {
      margin-right: 6px;
    }
    &:hover {
      background: rgba(blue, 0.06);
    }
    span {
      float: left;
      vertical-align: middle;
      transform: translate3d(0, 0, 0);
      font-size: 24px;
      &:first-child {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        transform: scale(1);
        transition: all 0.2s ease;
        svg {
          position: absolute;
          top: 5px;
          left: 4px;
          fill: none;
          stroke: #ffffff;
          opacity: 0.5;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          stroke-dashoffset: 16px;
          transition: all 0.3s ease;
          transition-delay: 0.1s;
          transform: translate3d(0, 0, 0);
        }
      }
      &:last-child {
        padding-left: 8px;
        line-height: 64px;
      }
    }
    .scorecard-label-name {
      display: flex;
    }
    .scorecard-count {
      color: #c2c4c6;
    }
  }
  .scorecard-checkbox:checked + .scorecard-checkbox-label {
    opacity: 1;
    span {
      &:first-child {
        animation: wave 0.4s ease;
      }
      svg {
        stroke-dashoffset: 0;
      }
    }
  }
}
