.city-map-scorecard {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 180px;
  left: calc(50% - 100px);
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 900px) {
    top: calc(100% - 120px);
    left: calc(50% - 60px);
  }
}

.country-map .map-scorecard-container {
  position: absolute;
  bottom: -200px;
}

.map-scorecard-container {
  position: relative;
  display: flex;
  order: 2;
  flex-direction: column;
  min-width: 160px;
  max-width: 200px;
  height: 140px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #3f4b57;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  transform: translate(-40px, 140px);
  order: 1;
  @media (min-width: "100px") {
    transform: translate(-40px, -140px);
  }
  @media (max-width: "900px") {
    transform: translate(-20px, -140px);
  }
  // @media (max-height: "450px") {
  //   transform: translate(0px, -60px);
  // }
  .scorecard-instructions {
    position: absolute;
    top: -24px;
    color: #dee2e6;
    font-size: 14px;
  }
  .drag-icon {
    fill: $light-green;
    height: 30px;
    width: 30px;
    right: -10px;
    top: -10px;
    position: absolute;
    cursor: pointer;
    display: none;
  }

  &:hover > .drag-icon {
    display: block;
  }

  .map-scorecard-headers {
    font-size: 14px;
    color: #9c9ea0;
    display: flex;
    span {
      width: 92px;
      padding-left: 4px;
    }
    span:nth-child(1) {
      display: flex;
      justify-content: flex-end;
      padding-right: 24px;
    }
    span:nth-child(2) {
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
    }
  }

  .scorecard-checkbox-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    opacity: 0.5;
    min-height: 34px;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    width: 170px;
    &:not(:last-child) {
      margin-right: 6px;
    }
    &:hover {
      background: rgba(blue, 0.06);
    }
    .scorecard-label {
      transform: translate(70px, 2px);
    }
    span {
      float: left;
      vertical-align: middle;
      transform: translate3d(0, 0, 0);
      font-size: 24px;
      &:first-child {
        position: relative;
        min-width: 20px;
        height: 20px;
        border-radius: 4px;
        transition: all 0.2s ease;
        margin-right: 8px;
        svg {
          position: absolute;
          top: 5px;
          left: 4px;
          fill: none;
          stroke: #ffffff;
          opacity: 0.5;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          stroke-dashoffset: 16px;
          transition: all 0.3s ease;
          transition-delay: 0.1s;
          transform: translate3d(0, 0, 0);
        }
      }
      &:last-child {
        padding-left: 8px;
        line-height: 64px;
      }
    }
    .scorecard-label-name {
      display: flex;
      width: 100%;
    }
    .scorecard-count {
      color: #c2c4c6;
    }
    #scorecard-country-count {
      padding-right: 32px;
      width: 48px;
      display: flex;
      justify-content: flex-end;
    }
    #scorecard-city-count {
      padding-left: 16px;
    }
  }
  .scorecard-checkbox:checked + .scorecard-checkbox-label {
    opacity: 1;
    span {
      &:first-child {
        animation: wave 0.4s ease;
      }
      svg {
        stroke-dashoffset: 0;
      }
    }
  }
}
