.map-search-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  height: 40px;
  margin: 16px auto 16px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.15);
  background: rgb(248, 248, 252);
  @media screen and (max-width: 800px) {
    max-width: 460px;
  }
  @media screen and (max-width: 600px) {
    max-width: 400px;
  }
  @media screen and (max-width: 450px) {
    max-width: 320px;
    // top: 80px;
  }
  @media screen and (max-width: 400px) {
    max-width: 240px;
  }
  @media screen and (max-width: 320px) {
    max-width: 240px;
    min-width: 240px;
  }
  label {
    text-transform: none;
    transform: translate(-20px, -4px);
  }
  input {
    display: flex;
    align-items: center;
    width: 500px;
    border-bottom: none;
    font-size: 1.5em;
    font-family: "Segoe UI";
    font-weight: 100;
    line-height: 1.5em;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0 0 0px 16px;
    cursor: text;
    background: none;
    color: #969696;
    &::-webkit-input-placeholder {
      color: #969696;
    }
    &:focus {
      outline: 0;
    }
  }
  .search-icon {
     fill: rgb(210, 210, 210);
     margin-left: 8px;
  }
}