#new-map {
  margin: 0;
  #new-country-scorecard {
    .map-scorecard-container {
      bottom: 60px;
      left: 60px;
      @media screen and (max-width: 1250px) {
        display: none;
      }
      @media screen and (max-height: 500px) {
        top: 180px;
      }
    }
    .map-info-container {
      bottom: 120px;
      left: 60px;
      @media (max-height: 900px) {
        transform: translate(-40px, 140px);
      }
    }
  }
  .side-menu-container {
    #new-city-map-button-side-menu {
      display: flex;
      justify-content: center;
      position: relative;
      top: 200px;
      left: 0px;
      width: 60px;
      height: 42px;
      background: #f8f8fc;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(19, 18, 18, 0.5);
      cursor: pointer;
    }
  }
}

#new-country-map-button {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.new-user-timing-control {
  position: absolute;
  top: 8px;
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 60px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Segoe UI", sans-serif;
  font-size: 30px;
  color: rgb(248, 248, 252);
  @media screen and (max-width: 520px) {
    flex-direction: column;
    font-size: 24px;
  }
  select {
    background: none;
    border: none;
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    color: rgb(248, 248, 252);
    margin-left: 4px;
    border-bottom: 1px solid rgb(248, 248, 252);
    @media screen and (max-width: 520px) {
      flex-direction: column;
      font-size: 24px;
    }
    option {
      background: #dee2e6;
      color: rgb(74, 89, 90);
    }
  }
}

.city-new-map-container {
  position: absolute;
  display: flex;
  width: 100vw;
  left: 0;
  height: 100%;
  .sc-controls {
    background: #dee2e6;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: calc(50% - 600px);
    top: 60px;
    height: 80px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 1200px) {
      top: calc(100% - 150px);
      right: calc(5%);
    }
    @media screen and (max-width: 900px) {
      display: none;
      top: calc(100% - 350px);
      right: calc(50% - 100px);
    }
  }
  #new-country-map-button {
    width: 60px;
    height: 42px;
    background: rgb(248, 248, 252);
    transform: translate(-32px, 14px);
    #map-change-icon {
      svg {
        transform: translateY(0px);
      }
    }
    .sc-control-label {
      transform: translate(-2px, 48px);
      color: #dee2e6;
    }
    @media screen and (max-width: 1200px) {
      top: 60px;
      right: calc(50% - 600px);
    }
  }
  .new-map-share {
    display: flex;
    position: relative;
    fill: #92bad0;
    cursor: pointer;
    font-size: 24px;
    color: rgb(200, 200, 200);
    .sc-control-label {
      position: absolute;
      display: flex;
      justify-content: center;
      top: -16px;
      left: -20px;
      font-size: 12px;
      border-radius: 8px;
      min-width: 50px;
      color: #4f5867;
      font-weight: 550;
    }
    svg {
      width: 30px;
      transform: translateY(10px);
    }
    &:hover {
      fill: #528fb1;
    }
  }
  .new-map-import {
    display: flex;
    position: relative;
    fill: #92bad0;
    cursor: pointer;
    font-size: 24px;
    color: rgb(200, 200, 200);
    .sc-control-label {
      position: absolute;
      display: flex;
      justify-content: center;
      top: -12px;
      left: -4px;
      font-size: 12px;
      border-radius: 8px;
      min-width: 50px;
      color: #4f5867;
      font-weight: 550;
    }
    svg {
      width: 42px;
      height: 42px;
      transform: translateY(12px);
      path {
        width: 30px;
      }
    }
    &:hover {
      fill: #528fb1;
    }
  }
  .new-map-suggest {
    display: flex;
    position: relative;
    fill: #92bad0;
    cursor: pointer;
    font-size: 24px;
    color: rgb(200, 200, 200);
    .sc-control-label {
      position: absolute;
      display: flex;
      justify-content: center;
      top: -12px;
      left: -12px;
      font-size: 12px;
      border-radius: 8px;
      min-width: 56px;
      color: #4f5867;
      font-weight: 550;
    }
    svg {
      width: 30px;
      transform: translateY(8px);
    }
    &:hover {
      fill: #528fb1;
    }
  }
  .new-map-clear {
    display: flex;
    position: relative;
    z-index: 2000;
    font-size: 24px;
    color: rgb(200, 200, 200);
    .sc-control-label {
      position: absolute;
      display: flex;
      justify-content: center;
      top: -16px;
      left: -6px;
      font-size: 12px;
      border-radius: 8px;
      min-width: 50px;
      color: #4f5867;
      font-weight: 550;
    }
    .clear-map-button {
      position: relative;
      width: 40px;
      height: 40px;
      border: none;
      background: #92bad0;
      border: 1px solid #92bad0;
      border-radius: 50%;
      cursor: pointer;
      transform: translateY(8px);
      &:hover {
        background: #528fb1;
      }
      &:before,
      &:after {
        position: absolute;
        left: 17px;
        top: 9px;
        content: " ";
        height: 21px;
        width: 4px;
        background-color: #dee2e6;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .delete-prompt {
      position: absolute;
      display: flex;
      right: 0px;
      flex-direction: column;
      align-items: center;
      min-width: 260px;
      text-align: center;
      opacity: 1;
      z-index: 2002;
      background: #f1f3f5;
      border-radius: 8px;
      height: 200px;
      padding: 16px 8px;
      color: #4f5867;
      span {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
    }
    .delete-prompt-hide {
      display: none;
    }
  }
  .mapboxgl-control-container {
    display: flex;
    justify-content: center;
    position: relative;
    .mapboxgl-ctrl-top-left {
      height: 20px;
      display: flex;
      justify-content: center;
      min-width: 600px;
      left: calc(50% - 310px) !important;
      .mapboxgl-ctrl-geocoder {
        top: 60px;
        min-width: 600px;
        box-shadow: 0 3px 6px 2px rgba(black, 0.15);
        background: rgb(248, 248, 252);
        @media screen and (max-width: 700px) {
          min-width: 500px;
        }
        @media screen and (max-width: 600px) {
          min-width: 450px;
        }
        @media screen and (max-width: 550px) {
          min-width: 400px;
          top: 80px;
        }
        @media screen and (max-width: 500px) {
          min-width: 350px;
        }
        @media screen and (max-width: 450px) {
          min-width: 300px;
        }
        @media screen and (max-width: 400px) {
          max-width: 280px;
          min-width: 280px;
        }
        input {
          color: rgb(74, 89, 90) !important;
          min-width: 560px;
        }
      }
    }
  }
}

.city-new-map-scorecard {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 60px;
  left: calc(50% - 600px);
  @media screen and (max-width: 1200px) {
    top: calc(100% - 160px);
    left: calc(7.5%);
  }
  @media screen and (max-width: 900px) {
    display: none;
    top: calc(100% - 120px);
    left: calc(50% - 60px);
  }
  #map-scorecard-container {
    transform: none;
    @media (max-height: 900px) {
      top: 0px;
    }
  }
  .georney-score {
    position: absolute;
    transform: translate(-20px, -130px);
    display: flex;
    flex-direction: column;

    .gs-title {
      color: #cfd4da;
    }
    .gs-score {
      color: #a7e1ff;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
    }
  }
}
.new-user-signup {
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: center;
  @media (max-height: 700px) {
    max-height: 500px;
  }
  @media (max-height: 550px) {
    max-height: 450px;
  }
  @media (max-height: 480px) {
    max-height: 420px;
  }
  .new-user-signup-cta {
    display: flex;
    align-items: center;
    width: 300px;
    height: 120px;
    margin: 8px;
    text-align: center;
    padding: 80px 16px;
    font-size: 18px;
    color: #4f5867;
  }
}

.city-marker {
  position: relative;
}
.dot {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
}
.dot-inner {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  top: 6px;
  left: 6px;
}
.pulse {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  left: -20px;
  z-index: 500;
  opacity: 0;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-animation: flash 2s ease-out;
  -moz-animation: flash 2s ease-out;
  animation: flash 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes flash {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes flash {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes flash {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

#new-map-georney-score {
  position: absolute;
  bottom: 60px;
  left: calc(50% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-height: 1200px) {
    bottom: 80px;
  }
  @media screen and (max-height: 600px) {
    display: none;
  }
  .gs-title {
    color: #cfd4da;
    font-weight: 550;
    font-size: 24px;
  }
  .gs-score {
    margin-top: 8px;
    color: #92bad0;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    border: 4px solid #92bad0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f3f5;
  }
}

.city-new-side-menu {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top of map and buttons layers.*/
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(#4f5867, 0.95); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(248, 248, 252);
    display: block;
    transition: 0.3s;
  }
  .opennav {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 48px;
    margin-left: 50px;
    cursor: pointer;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  .side-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    #scorecard-side-menu {
      position: relative;
      display: flex;
      top: 80px;
      left: 25px;
    }
    #new-country-map-button-side-menu {
      display: flex;
      position: relative;
      top: 140px;
      left: 0px;
      width: 60px;
      height: 42px;
      svg {
        transform: none;
      }
      .sc-control-label {
        top: 40px;
        left: -14px;
        color: rgb(228, 228, 232);
      }
    }
    #sc-controls-side-menu {
      display: flex;
      flex-direction: column;
      width: 80px;
      height: 300px;
      left: 85px;
      top: 400px;
    }
    .delete-prompt {
      right: -100px;
      min-width: 240px;
      span {
        margin-top: 10px;
      }
    }
  }
  @media screen and (min-width: 1250px) {
    display: none;
  }
}
