.blogger-map-header {
  top: 20px;
}

.blogger-country-map-header {
  top: -40px;
}

.blogger-map-header,
.blogger-country-map-header {
  position: absolute;
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 60px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Segoe UI", sans-serif;
  font-size: 30px;
  color: #f8f8fc;
  z-index: 5;
}

.blogger-controls {
  left: calc(50% + 306px);
  right: calc(50% - 560px);
  top: 74px;
  .filter-icon {
    max-width: 24px;
  }
}
.blogger-country-controls {
  left: calc(50% + 306px);
  right: calc(50% - 560px);
  top: 14px;
}

.blogger-controls,
.blogger-country-controls {
  max-width: 60px;
  max-height: 42px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 260px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  background: #f8f8fc;
  svg {
    transform: translateY(0px);
    width: 12px;
  }
  @media screen and (max-width: 1000px) {
    left: calc(50% + 786px);
  }
  @media screen and (max-width: 900px) {
    display: none !important;
  }
  .new-map-suggest {
    svg {
      transform: none;
      width: 24px;
    }
    .sc-control-label {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 38px;
      font-size: 12px;
      border-radius: 8px;
      min-width: 56px;
      color: #dee2e6;
      font-weight: 550;
    }
  }
}

#blogger-card-clicked {
  background: rgba(248, 248, 252, 0.75);
  box-shadow: 0 1px 18px 2px rgba(115, 167, 195, 0.75);
  .utc-username {
    color: rgb(49, 97, 122);
  }
  .user-georney-score span {
    color: rgb(74, 89, 90);
  }
}
.blogger-filter-container {
  left: calc(50% - 150px);
  bottom: 0px;
  margin-right: 8px;
  .bloggers {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 8px;
    max-height: 360px;
    &::-webkit-scrollbar {
      width: 11px;
    }
    scrollbar-width: thin;
    scrollbar-color: #90a4ae#cfd8dc;
    &::-webkit-scrollbar-track {
      background: #cfd8dc;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #90a4ae;
      border-radius: 6px;
      border: 3px solid #cfd8dc;
    }
  }
  .blogger-card {
    cursor: pointer;
    border-radius: 30px;
    background: rgba(#3f4b57, 0.75);
    // box-shadow: 0 1px 18px 2px rgba(115, 167, 195, 0.15);
    box-shadow: 0 2px 4px 0px rgba(115, 167, 195, 0.25);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .blogger-rank {
      transform: translateX(-16px);
      color: rgb(248, 248, 252);
      font-size: 18px;
      font-weight: 700;
    }
    .utc-username {
      font-size: 18px;
      color: rgb(230, 230, 235);
    }
    .user-georney-score span {
      color: white;
    }
  }
}

.blogger-popup-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  span:nth-child(1) {
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4f5867;
  }
  span:nth-child(2) {
    font-size: 14px;
    font-weight: 550;
    color: #9fa0a1;
  }
}

.blogger-popup-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  @media screen and (min-width: 1000px) {
    width: 600px;
  }
  .friend-trip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100vh - 60px);
    p {
      font-family: "Segoe UI", sans-serif;
      font-size: 20px;
      color: rgb(150, 150, 150);
    }
  }
  .blogger-post-card {
    @media screen and (min-width: 1000px) {
      width: 540px;
    }
  }
  .clicked-country-header {
    display: flex;
    justify-content: center;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #4f5867;
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: 550;
    color: rgb(220, 220, 220);
    .clicked-country-info-value {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      font-size: 20px;
      line-height: 34px;
      font-weight: 550;
      color: rgb(248, 248, 252);
      margin-right: 12px;
      padding-top: 3px;
      .ud-link-icon {
        fill: rgb(230, 230, 232);
      }
    }
  }
  .clicked-country-info {
    display: flex;
    width: 100%;
    min-height: 120px;
    padding: 30px;
    a {
      width: 100%;
    }
    .clicked-country-info-names {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 2;
      cursor: pointer;
      .click-place-text {
        position: absolute;
        top: -24px;
        font-weight: 550;
        color: #be929a;
        font-size: 16px;
        width: 100%;
      }
      span:nth-child(2) {
        font-size: 20px;
        font-weight: 550;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #4f5867;
      }
      span:nth-child(3) {
        font-size: 14px;
        font-weight: 550;
        color: #9fa0a1;
      }
    }
    .clicked-country-info-shape {
      display: flex;
      flex: 1;
      background: orange;
    }
  }

  .city-counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40px;
    color: #b1b1b1;
    font-size: 24px;
    font-weight: 550;
    svg {
      fill: #dcdcdc;
    }
  }
}
