.map-info-container {
    /*position: absolute;*/
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: fit-content;
    z-index: 1;
    transform: translate(-40px, 40px);
    .map-info-country {
        font-size: 42px;
        font-weight: 300;
        letter-spacing: 6px;
        color: #DCDCDC;
        text-transform: uppercase;
        @media (max-width: 700px) {
            font-size: 30px;
            font-weight: 250;
            letter-spacing: 4px;
          }
    }
    .map-info-capital {
        font-size: 24px;
        font-weight: 100;
        color: #969696;
        .map-info-capital-icon {
            margin-right: 8px;
        }
    }
} 