.map-search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  height: 44px;
  margin: 16px auto 8px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.15);
  background: #3f4b57;
  label {
    text-transform: none;
    transform: translate(-20px, -4px);
  }
  input {
    display: flex;
    align-items: center;
    width: 360px;
    border-bottom: none;
    font-size: 1.5em;
    font-family: "Segoe UI";
    font-weight: 100;
    line-height: 1.5em;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0 0 0px 16px;
    cursor: text;
    background: none;
    color: rgb(168, 168, 172);

    &:focus {
      outline: 0;
    }
  }
  .search-icon {
     fill: rgb(210, 210, 210);
  }
}
