.clicked-country-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 320px;
  .friend-trip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    p {
      font-family: 'Segoe UI', sans-serif;
      font-size: 20px;
      color: rgb(120, 120, 124);
    }
  }
}

.user-trip-card {
    display: flex;
    align-items: center;
    min-width: 240px;
    min-height: 67px;
    margin: 3px 0px;
    background: white;
    border-radius: 8px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.16);
  }
  
  .user-profile-image {
    width: 40px;
    height: 40px;
    margin-left: 12px;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  .utc-user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    margin-left: 8px;
    margin-top: 0px;
  }
  
  .user-trip-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  
  .user-trip-title {
    display: inline;
    position: relative;
    text-align: center;
    margin: 10px auto;
    font-weight: 600;
    font-size: 12px;
    color: #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    letter-spacing: 6px;
  }
  
  .user-trip-title:after {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: -2px;
    right: 0px;
    background: rgb(248, 248, 252); 
  } 
  
  .utc-username {
    color: rgba(129, 130, 130, 1);
    font-size: 14px;
    font-weight: 600;
  }
  
  .utc-duration {
    font-size: 14px;
    fill: rgb(200, 200, 220);
    color: rgb(80, 80, 80);
    .city-icon {
      height: 14px;
      transform: translate(-2px, 1px);
    }
    .calendar-icon {
      height: 14px;
      transform: translate(-2px, 1px);
    }
  }
  
  .utc-year-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    min-height: 67px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .utc-year-container-0 {
    background: rgb(236, 215, 219);
  }
  .utc-year-container-1 {
    background: rgba(194, 215, 229, 1);
  }
  .utc-year-container-2 {
    background: #D1DCDB;
  }
  
  .utc-year-container p {
    transform: rotate(90deg);
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 14px;
    color: rgba(177, 177, 177, 1);
    letter-spacing: 2px;
  }
  