@import "./subcomponents/SiteLogo.scss";
@import "./subcomponents/NavLinks.scss";
@import "./subcomponents/UserHeaderContainer.scss";
@import "./subcomponents/UsernameDropdown.scss";

.header-container {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  $height: 60px;
  background: $off-white;
  min-height: $height;
  max-height: $height;
  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
  }
  .site-logo-container {
    order: 1;
    display: flex;
    flex: 1;
    align-items: center;
    @media screen and (max-width: 575px) {
      .site-title {
        display: none;
      }
    }
  }
}

@media (min-width: 576px) {
  .site-title {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
    min-height: 48px;
    font-size: 24px;
    font-family: "Segoe UI", serif;
    font-weight: 100;
    padding-left: 16px;
    svg {
      height: 100%;
      width: 30%;
    }
  }
}

@media (min-width: 1200px) {
  .header-container {
    width: 100%;
  }

  .header-content {
    display: flex;
    align-items: center;
    max-width: 1560px;
  }
}

.hamburger-icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
  .hamburger-a {
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #000;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: all 0.25s ease-in-out;
  }

  .hamburger-b {
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #000;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
    transition: all 0.25s ease-in-out;
  }
}
.hamburger-icon::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.5s ease;
}
.hamburger-icon.ham-active::after {
  width: 100%;
  height: 100%;
  background-color: #cb7678;
  position: absolute;
}
.ham-active.hamburger-a {
  background-color: rgb(248, 248, 252);
  z-index: 10;
}

.hamburger-icon.ham-active .hamburger-a {
  top: 50%;
  left: 50%;
  width: 60%;
  background-color: rgb(248, 248, 252);
  transform: translate(-50%, -50%) rotate(135deg);
}
.hamburger-icon.ham-active .hamburger-b {
  top: 50%;
  left: 50%;
  width: 60%;
  background-color: rgb(248, 248, 252);
  transform: translate(-50%, -50%) rotate(225deg);
}

.hamburger-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 4px;
  background: rgb(248, 248, 252);
  @media (min-width: 765px) {
    display: none;
  }
  a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    margin: 0 14px;
    text-decoration: none;
    color: $grey;
    letter-spacing: 1px;
    border-bottom: 4px solid $off-white;
    transition: all 0.5s ease;
    &.active {
      color: #6e7377;
      border-bottom: solid 4px #a7e1ff;
      &:hover {
        border-bottom: solid 4px #a7e1ff;
      }
    }
    &:hover {
      color: #6e7377;
      border-bottom: 4px solid #a7a7a7;
    }
  }
}
