.landing-form {
  position: absolute;
  top: 60px;
  opacity: 1;
  background: rgba(37, 41, 49, 1) !important;
  z-index: 10;
  @media (max-width: 765px) {
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  .landing-form-container {
    display: flex;
    min-height: 540px;
  }
}
