.login-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 0;
  width: 450px;
  align-items: center;
  margin: 0 auto;
  z-index: 1;

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 148px;
    padding: 0 28px;
    margin-top: 0px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background: rgba(0,0, 0, 0.5);
  }
}

.form-inline {
  position: relative;
  display: flex;
  z-index: 1;
  height: 60px;
}

.user-login-icon {
  position: absolute;
  left: -20px;
  top: -3px;
  transition: 0.3s;
  z-index: 999;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 36px;
  transition: 0.3s;
  z-index: -1;
  color: $dark-grey;
  opacity: 0;
}

.form-inline [type="text"],
.form-inline [type="password"] {
  color: $grey;
  width: 100%;
  height: 32px;
  margin-bottom: -8px;
  padding-left: 0;
  font-weight: 100;
  border: none;
  border-bottom: 1px solid $off-white;
  border-radius: 0;
}

.form-control:focus {
  border-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  box-shadow: none;
}

.form-input:focus::placeholder {
  opacity: 0;
}

.form-input:not(:focus)::placeholder {
  color: rgb(200, 200, 200);
}

.form-input:focus + .user-login-icon + span {
  font-size: 10px;
  top: 16px;
  left: 31px;
  opacity: 1;
}

.form-input:not(.form-input:empty) {
  background: red !important;
}

.form-input:focus {
  display: block !important;
  font-size: 10px;
  top: 40px;
}

.login-form .form-input {
  padding-left: 30px;
  padding-bottom: 16px;
  z-index: 1;
  transform: scale(1.25);
  padding-top: 25px;
  font-size: 16px;
  background: transparent;
}

.login-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  margin-top: 12px;
}

.login-button input {
  position: absolute;
  top: 0;
  left: calc(50% - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: 20px;
  width: 144px;
  height: 42px;
  border-radius: 8px;
  box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.16);
  background: $primary-blue;
  background: $light-blue;
  color: $primary-blue;
  z-index: 1;
}

.login-button a {
  text-decoration: none !important;
}

.login-button input:hover {
  background: $primary-blue;
  color: rgb(248, 248, 252);
}

.login-button input:active {
  background: rgba(194, 119, 186, 0.4) !important;
}
