.add-trip-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  background: rgb(248, 248, 252);
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 4px 12px;
  margin: 0 40px 20px 0;
  span {
    font-size: 60px;
    transform: translateY(-8px);
    color: $primary-blue;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .circle-icon {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    height: 80px;
    width: 80px;
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    fill: #a7e1ff;
    transition: all 0.3s ease;
  }
  &:hover {
    span {
      font-size: 80px;
    }
    .circle-icon {
      left: calc(50% - 50px);
      top: calc(50% - 50px);
      height: 100px;
      width: 100px;
    }
  }
}

.ptc-card-container {
  display: flex;
  position: relative;
  .delete-prompt {
    opacity: 1;
    z-index: 2002;
  }
  .delete-prompt-hide {
    opacity: 0;
    z-index: -10;
  }
  .delete-prompt,
  .delete-prompt-hide {
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
    right: 40px;
    top: 0px;
    background: rgb(248, 248, 252);
    height: 120px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0 16px 0;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    span {
      display: flex;
      justify-content: center;
      padding: 4px;
      text-align: center;
    }
    .confirm {
      background: rgb(248, 248, 252);
      color: $primary-green;
      &:hover {
        background: $primary-green;
        color: white;
      }
    }
    .deny {
      background: $primary-red;
    }
  }
  .trash {
    position: absolute;
    border: none;
    right: 40px;
    top: -4px;
    background: none;
    max-height: 30px;
    svg {
      fill: rgb(180, 180, 180);
    }
    &:hover {
      background: none;
      border: none;
      svg {
        fill: #cb7678;
        transform: scale(1.1) translateX(4px) translateY(2px);
      }
    }
  }
  .profile-trip-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 120px;
    background: rgb(248, 248, 252);
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 4px 12px;
    margin: 0 40px 20px 0;
    .ptc-trip-info {
      display: flex;
      flex-direction: column;
      min-height: 74px;
      border-bottom: 0.5px solid #e1e3e5;
      font-family: "Segoe UI", sans-serif;
      .ptc-trip {
        font-size: 28px;
        color: rgb(44, 48, 53);
        text-transform: lowercase;
      }
      .ptc-timing {
        font-size: 16px;
        font-weight: 550;
        color: rgb(148, 148, 148);
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
    .ptc-trip-stats {
      display: flex;
      align-items: center;
      width: 270px;
      height: 100%;
      .ptc-stat {
        margin-right: 24px;
        span {
          margin-left: 8px;
          font-size: 18px;
          font-weight: 550;
          color: #4f545a;
        }
        svg {
          transform: translateY(2px);
        }
      }
      #ptc-days {
        svg {
          fill: #cb7678;
        }
      }
      #ptc-countries {
        svg {
          fill: #73a7c3;
        }
      }
      #ptc-cities {
        svg {
          fill: #96b1a8;
        }
      }
    }
    .circle-icon {
      position: absolute;
      right: -30px;
      top: calc(50% - 30px);
      height: 60px;
      width: 60px;
      z-index: 5;
    }
  }

  .add-button-container {
    width: 680px;
    display: flex;
    justify-content: flex-end;
    #add-review {
      background: #a7e1ff;
    }
  }
}
