.profile-trips {
  .content-results {
    width: calc(100% - 160px);
  }
  .trip-review-header {
    .trip-sub-header {
      display: flex;
      }
      .trip-dropdowns {
        display: flex;
        color: #B7B7B7;
        font-size: 20px;
        font-weight: 550;
        .trip-city {
          background: none;
          border: none;
          border-bottom: solid 2px #A7E1FF;
          color: rgb(248,248, 252);
          font-size: 20px;
          height: 32px;
          display: flex;
          align-items: center;
          margin-left: 12px;
          min-width: 200px;
          option {
            background: #2D2B2B;
          }
        }
    }
    .city-review-subtitle {
      span:nth-child(1) {
        color: white;
      }
    }
    .trip-review-page {
      .trip-title-input {
        background: none;
        border: none;
        color: #d2dcd7;
        font-family: "Segoe UI", sans-serif;
        font-size: 24px;
        font-weight: 550;
        line-height: 24px;
        min-width: 500px;
        &::placeholder {
          color: #9c9e9d;
        }
      }
    }
  }
  .trip-right-menu {
    width: 60px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    .trip-right-title {
      color: #CFD4DA;
      font-weight: 700;
      margin-bottom: 8px;
    }
    .trip-day {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #8792a4;
      font-weight: 550;
      span {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        &:hover {
          background: #CFD4DA;
          min-width: 68px;
          transform: translateX(-4px);
          padding-left: 8px;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
        }
      }
      .trip-day-active {
        background: rgb(248, 248, 252);
        min-width: 68px;
        transform: translateX(-4px);
        padding-left: 8px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        color: #5f91b7;
        box-shadow: -2px 1px 8px 0px rgba(white, 0.15);
      }
    }
  }
}
