.friends-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 28px 20px 28px 20px;
  min-height: 200px;
  width: calc(100% - 120px);
  .friend-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 200px;
    margin: 0px 30px 28px 30px;
    background: rgb(248, 248, 252);
    border-radius: 16px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.16);
    @media screen and (max-width: 900px) {
      margin: 0 0px 28px 0px;
    }
    .fc-user-interests {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 12px;
      span {
        margin: 1px 16px;
      }
    }
    a {
      width: 100%;
    }
    .fc-user-info {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 8px;
      margin-left: 16px;
      .fc-user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        .user-avatar {
          width: 60px;
          height: 60px;
        }
      }
      .fc-georney-score {
        position: absolute;
        top: -32px;
        left: calc(50% - 38px);
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        span {
          margin-top: 4px;
          color: rgb(120, 120, 120);
          font-weight: 10000;
          font-size: 24px;
          line-height: 32px;
          border-radius: 24px;
          height: 36px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $light-blue;
          border: 2px solid rgb(248, 248, 252);
          padding-bottom: 3px;
        }
      }
      .fc-user-details {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        margin-left: 4px;
        .fc-username {
          font-size: 16px;
          font-weight: 550;
          color: #818282;
          max-width: 160px;
          overflow-wrap: break-word;
        }
        .fc-user-location {
          font-size: 12px;
          font-weight: 400;
          color: #b4b4b4;
        }
      }
    }
    .fc-user-metrics {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 64px;
      margin-top: 12px;
      border-top: 1px solid #b4b4b4;
      border-bottom: 1px solid #b4b4b4;
      .fc-user-metric {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 8px;
        .fc-user-metric-value {
          font-size: 20px;
          font-weight: 550;
          color: #4a595a;
        }
        .fc-user-metric-type {
          font-size: 16px;
          color: #b4b4b4;
        }
      }
    }
    .fc-button-container {
      display: flex;
      width: 100%;
      height: 60px;
      justify-content: center;
      align-items: center;
      span,
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 32px;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
        margin: 0 4px;
      }
      .fc-see-profile {
        width: 200px;
        height: 40px;
        font-weight: 550;
        background: #c2d7e5;
        color: #5791b7;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
        &:hover {
          background: rgb(220, 220, 220);
        }
      }
      .fc-accept {
        cursor: pointer;
        box-shadow: 0 2px 4px 1px rgba(#7a9a97, 0.5);
        color: #7a9a97;
        background: rgb(248, 248, 252);
        &:hover {
          box-shadow: 0 4px 8px 2px rgba(#7a9a97, 0.5);
        }
      }
      .fc-deny {
        cursor: pointer;
        box-shadow: 0 2px 4px 1px rgba(#bb6f7e, 0.5);
        color: #bb6f7e;
        background: rgb(248, 248, 252);
        &:hover {
          box-shadow: 0 4px 8px 2px rgba(#bb6f7e, 0.5);
        }
      }
    }
  }
}

.accept-reject-container {
  position: absolute;
  top: 82px;
  width: 320px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    width: 60px;
  }
  .recommend-icon {
    fill: $primary-green;
    background: rgb(248, 248, 252);
    border-radius: 50%;
    &:hover {
      background: $primary-green;
      fill: rgb(248, 248, 252);
    }
  }
  .do-not-recommend-icon {
    fill: $primary-red;
    background: rgb(248, 248, 252);
    border-radius: 50%;
    position: absolute;
    right: 0;
    &:hover {
      background: $primary-red;
      fill: rgb(248, 248, 252);
    }
  }
  .decline {
    position: absolute;
    top: -30px;
    right: 0;
  }
  .checkmark {
    position: absolute;
    top: -30px;
    left: 0;
  }
}

.reject-container {
  position: absolute;
  top: 82px;
  width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: -30px;
  background: rgb(248, 248, 252);
  border-radius: 50%;
  svg {
    width: 60px;
  }
  .do-not-recommend-icon {
    fill: $primary-red;
    background: rgb(248, 248, 252);
    border-radius: 50%;
    position: absolute;
    right: 0;
    &:hover {
      background: $primary-red;
      fill: rgb(248, 248, 252);
    }
  }
  .decline {
    position: absolute;
    top: -30px;
    right: 0;
  }
  .ud-link-icon {
    fill: $primary-green;
    background: rgb(248, 248, 252);
    border-radius: 50%;
    position: absolute;
    right: 0;
    &:hover {
      fill: $light-green;
    }
  }
}

.friend-card {
  .delete-prompt {
    position: absolute;
    display: flex;
    top: 20px;
    right: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 260px;
    text-align: center;
    opacity: 1;
    z-index: 2002;
    background: #e8ebee;
    border-radius: 8px;
    height: 160px;
    padding: 16px 8px;
    color: #4f5867;
    border: rgb(163, 163, 163) 4px solid;
    span {
      margin-top: 8px;
    }
  }

  .decline__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: $primary-red;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .decline {
    top: -4px;
    width: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px $primary-red;
    animation: declineFill 0.4s ease-in-out 0.4s forwards,
      declineScale 0.3s ease-in-out 0.9s both;

    .decline__check {
      transform-origin: 50% 50%;
      stroke-dasharray: 29;
      stroke-dashoffset: 29;
      animation: declineStroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }
    @keyframes declineStroke {
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes declineScale {
      0%,
      100% {
        transform: none;
      }
      50% {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
    @keyframes declineFill {
      100% {
        box-shadow: inset 0px 0px 0px 30px #ddb0b0;
      }
    }
  }
}
