.friends-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 28px 20px 28px 0px;
  min-height: 200px;
  .friend-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 200px;
    margin: 0px 0px 20px 20px;
    background: rgb(248, 248, 252);
    border-radius: 16px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.16);
    .fc-user-interests {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 12px;
      span {
        margin: 1px 16px;
      }
    }
    .fc-user-info {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 8px;
      margin-left: 16px;
      .fc-user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        .user-avatar {
          width: 60px;
          height: 60px;
        }
      }
      .fc-user-details {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        margin-left: 4px;
        .fc-username {
          font-size: 20px;
          font-weight: 550;
          color: #818282;
        }
        .fc-user-location {
          font-size: 16px;
          font-weight: 400;
          color: #b4b4b4;
        }
      }
    }
    .fc-user-metrics {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 64px;
      margin-top: 12px;
      border-top: 1px solid #b4b4b4;
      border-bottom: 1px solid #b4b4b4;
      .fc-user-metric {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 8px;
        .fc-user-metric-value {
          font-size: 20px;
          font-weight: 550;
          color: #4a595a;
        }
        .fc-user-metric-type {
          font-size: 16px;
          color: #b4b4b4;
        }
      }
    }
    .fc-button-container {
      display: flex;
      width: 100%;
      height: 60px;
      justify-content: center;
      align-items: center;
      span,
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 32px;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
        margin: 0 4px;
      }
      .fc-see-profile {
        width: 200px;
        height: 40px;
        font-weight: 550;
        background: #c2d7e5;
        color: #5791b7;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
        &:hover {
          background: rgb(220, 220, 220);
        }
      }
      .fc-accept {
        cursor: pointer;
        box-shadow: 0 2px 4px 1px rgba(#7a9a97, 0.5);
        color: #7a9a97;
        background: rgb(248, 248, 252);
        &:hover {
          box-shadow: 0 4px 8px 2px rgba(#7a9a97, 0.5);
        }
      }
      .fc-deny {
        cursor: pointer;
        box-shadow: 0 2px 4px 1px rgba(#bb6f7e, 0.5);
        color: #bb6f7e;
        background: rgb(248, 248, 252);
        &:hover {
          box-shadow: 0 4px 8px 2px rgba(#bb6f7e, 0.5);
        }
      }
    }
  }
}
