.potential-friend-card {
  flex-grow: 1;
  min-width: fit-content;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: fit-content;
  max-width: 250px;
  position: relative;
  width: 240px;
  min-height: 200px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.16);
  background: url("./images/Passport_Topomap_Try2.png") no-repeat center;
  background-size: cover;
}
.pfc-user-profile {
  margin-top: 8px;
  .user-avatar {
    width: 80px;
    height: 80px;
    background: rgb(248, 248, 252);
  }
}
.pfc-age-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 12px;
  top: 8px;
  color: #e9e9f0;
  font-weight: 700;
  svg {
    transform: translateY(1px);
    fill: #b4b4b4;
  }
}
.potential-friend-add {
  cursor: pointer;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background: rgba(#d1dcdb, 0.85);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.16);
  font-weight: 550;
  letter-spacing: 2px;
  color: #7a9a97;
}

.pfc-user-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 40px;
  margin-top: 0px;
  .pfc-username {
    display: flex;
    justify-content: center;
    color: rgb(248, 248, 252);
    font-size: 18px;
    font-weight: 600;
  }

  .pfc-location {
    font-size: 14px;
    color: #b7b7b7;
    display: flex;
    justify-content: center;
  }
}

.pfc-request-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  margin-bottom: 24px;
  border-radius: 8px;
  background: $light-green;
  cursor: pointer;
  &:hover {
    background: rgb(248, 248, 252);
  }
  .pfc-request {
    font-weight: 550;
    color: rgb(112, 148, 136);
  }
}

.pfc-trip-data {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 40px;
  padding-right: 8px;
  right: 4px;
  top: 4px;
  span {
    display: flex;
    align-items: center;
    font-weight: 550;
    line-height: 28px;
    color: #e9e9f0;
    span {
      width: 24px;
      fill: rgb(180, 180, 180);
      padding-left: 6px;
    }
  }
}

.utc-year-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-height: 67px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.utc-year-container-0 {
  background: rgb(236, 215, 219);
}
.utc-year-container-1 {
  background: rgba(194, 215, 229, 1);
}
.utc-year-container-2 {
  background: #d1dcdb;
}

.utc-year-container p {
  transform: rotate(90deg);
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 14px;
  color: rgba(177, 177, 177, 1);
  letter-spacing: 2px;
}
