.filter-city-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  .filter-city-users,
  .filter-city-interest-tags {
    width: 100%;
    margin: 8px 4px;
    input {
        width: 90%;
    }
    select {
        width: 90%;
    }
  }
  .filter-city-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    bottom: 0px;
    span {
        text-align: center;
    }
    span:nth-child(1) {
      background: $primary-red;
    }
    span:nth-child(2) {
        background: $light-blue;
      }
  }
}
