@import './ClickedCountry/ClickedCountryContainer.scss';
@import './ClickedCountry/ClickedCountryCities.scss';
@import './PromptNavMenu.scss';
@import './FriendClickedCity/subcomponents/UserTripCard.scss';

.popup-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 5000;
    transform: translateY(-20px);
  }
  
  .popup-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .popup-card-container {
    z-index: 2;
    min-width: 320px;
    min-height: 400px;
    margin: 0 auto;
    border-radius: 4px;
    background: rgb(248, 248, 252);
    box-shadow: 0 1px 2px 1px rgba(0,0, 0, 0.16);
    @media (min-height: 780px) {
        height: 600px
    }
  }