$container: 1600px;
@import "./scss/colors";
@import "./components/Header/Header";
@import "./pages/Profile/Profile";
@import "./pages/Landing/Landing";
@import "./pages/Home/MapPage";
@import "./components/Prompts/PopupPrompts.scss";
@import "./components/common/PageNotFound";
@import "./icons/Icons.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  background: $bg2;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.user-avatar {
  $l: 42px;
  border-radius: 50%;
  height: $l;
  width: $l;
  display: inline-block;
}

.page .container {
  height: calc(100vh - 100px);
  padding: 20px;
}

.display-none {
  display: none;
}
