$container: 1600px;
@import "./scss/colors";
@import "./components/Header/Header";
@import "./pages/Profile/Profile";
@import "./pages/Landing/Landing";
@import "./pages/Home/MapPage";
@import "./components/Prompts/PopupPrompts";
@import "./components/common/common";
@import "./icons/Icons";
@import "./pages/FAQ/Faq.scss";
@import "./components/common/zoom_button/zoom_button.style.scss";

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background: $bg2;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input, select {
  border-radius: 0;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.centered-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  $l: 42px;
  border-radius: 50%;
  height: $l;
  width: $l;
}

.place-review-user {
  .user-avatar {
    width: 60px;
    height: 60px;
  }
}

.page {
margin-top: 60px;
.container {
  height: calc(100vh - 100px);
  padding: 20px;
}}

.display-none {
  display: none;
}

.button,
.button:link,
.button:visited {
  cursor: pointer;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  background: #f8f8fc;
  font-size: 1.1em;
  padding: 10px 20px 10px 20px;

  &.large {
    padding: 15px 35px 15px 35px;
  }

  &.confirm {
    background: #a7e1ff;
    color: #5f91b7;
    &:hover {
      background: #5791b7;
      color: #a7e1ff;
    }
  }

  &.warning {
    background: #ffc7db;
    color: red;
    &:hover {
      background: red;
      color: #ecd7db;
    }
  }
  &:hover {
    background: #333;
    border: 1px solid #333;
    color: #fefefe;
    border-radius: 30px;
  }

  &.disabled {
    cursor: wait;
    color: black;
    background: repeating-linear-gradient(
      45deg,
      #f8f8fc,
      #f8f8fc 5px,
      #ccc 5px,
      #ccc 10px
    );
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-size: 1500px 1500px;
    animation: slide 2s infinite linear;
  }
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
}

.country-map {
  margin: 20px 0;
  height: calc(100% - 100px);
  position: relative;
  text-align: center;
  .personal-map-share {
    top: 0px;
    color: #769f93;
    background: $light-green;
    box-shadow: 0 0 14px 2px rgba(197, 238, 143, 0.75);
    svg {
      margin-left: 6px;
      fill: #769f93;
    }
    &:hover {
      background: rgb(248, 248, 252);
      color: #769f93;
    }
    @media screen and (max-width: 800px) {
      left: calc(50% - 300px);
    }
    @media screen and (max-width: 700px) {
      left: calc(50% - 210px);
    }
    @media screen and (max-width: 500px) {
      left: calc(50% - 40px);
    }
  }
  .personal-map-save {
    top: 44px;
    color: rgb(248, 248, 252);
    background: #73a7c3;
    box-shadow: 0 0 14px 2px rgba(167, 225, 255, 0.75);
    svg {
      margin-left: 18px;
      path {
        fill: rgb(248, 248, 252);
      }
    }
    &:hover {
      background: rgb(248, 248, 252);
      color: #73a7c3;
  
      svg path {
        fill: #73a7c3;
      }
    }
    @media screen and (max-width: 800px) {
      left: calc(50% + 240px);
    }
    @media screen and (max-width: 700px) {
      left: calc(50% + 160px);
    }
    @media screen and (max-width: 500px) {
      left: calc(50% + 28px);
    }
  }
  
  .personal-map-share,
  .personal-map-save {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding-left: 28px;
    font-family: "Segoe UI", sans-serif;
    border-radius: 24px;
    border: 2px solid #fff;
    width: 200px;
    z-index: 1;
    font-weight: 700;
    cursor: pointer;
    @media (max-width: "1250px") {
      right: calc(50% - 440px);
      width: 60px;
      justify-content: center;
      padding-left: 0px;
      svg {
        margin-left: 0;
      }
      span {
        display: none;
      }
    }
    @media screen and (max-width: 900px) {
      right: calc(50% - 380px);
    }
    @media screen and (max-width: 800px) {
      top: 16px;
    }
    @media screen and (max-width: 500px) {
      top: 120px;
    }
    #myShareLink {
      opacity: 0;
      z-index: -100;
      position: absolute;
    }
    svg {
      width: 24px;
      height: 24px;
    }
    @media screen and (max-width: 1250px) {
      // right: calc(50% - 440px);
    }
  }
  
  .personal-map-save-noclick {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    &:hover {
      color: rgb(248, 248, 252);
      background: #73a7c3;
      svg path {
        fill: rgb(248, 248, 252);
      }
    }
  }
  .rsm-svg {
    width: calc(100% - 0px);
    height: calc(100% - 100px);
    transform: translate(0, -0px);
    .rsm-zoomable-group {
      @media (max-width: 1000px) {
        transform: none;
      }
    }
  }
}
.friend-country-map {
  margin-top: 0px;
}
.map {
  width: 100%;
  &:focus {
    outline: none;
  }
  #country-map-share {
    top: 16px;
  }

  .map-header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    @media (min-width: 1000px) {
      flex-direction: row;
      min-width: 900px;
      max-width: 1600px;
      margin: 0px auto;
      margin-bottom: 12px;
      padding: 0 12px;
    }
    .sc-controls-left {
      flex: 1;
      justify-content: flex-end;
      max-height: 60px;
    }
    .map-header-button-container {
      flex: 1;
      display: flex;
      align-items: center;
      height: 60px;
      .city-map-button {
        transform: translateY(2px);
      }
    }
    .map-header-button {
      display: flex;
      justify-content: flex-end;
      max-width: 267px;
      flex: 1;
      z-index: 2;
      button {
        width: 200px;
        height: 40px;
        background: rgb(248, 248, 252);
        border: none;
        border-radius: 24px;
        box-shadow: 0 1px 1px 1px #3f4b57;
        font-size: 18px;
        color: rgb(79, 89, 90);
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          background: rgb(200, 200, 200);
          color: #3f4b57;
        }
      }
    }
    .map-header-filter {
      display: flex;
      justify-content: center;
      max-width: 267px;
      flex: 1;
      z-index: 2000;
      button {
        width: 200px;
        height: 40px;
        background: #3f4b57;
        border: none;
        border-radius: 24px;
        box-shadow: 0 1px 1px 1px #3f4b57;
        font-size: 18px;
        color: rgb(150, 150, 150);
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          background: rgb(200, 200, 200);
          color: #3f4b57;
        }
      }
    }
    .map-header-filler {
      flex: 1;
      height: 72px;
      max-width: 267px;
    }
  }
  .continent-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 60px;
    margin: 0;
    max-width: 740px;
    min-width: 740px;
    @media (max-width: 500px) {
      max-width: 200px;
      flex-wrap: wrap;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      z-index: 2;
      background: none;
      border: none;
      font-size: 18px;
      font-family: "Segoe UI", sans-serif;
      color: rgb(232, 232, 232);
      @media (max-width: 1000px) {
        font-size: 14px;
      }
      @media (max-width: 800px) {
        font-size: 12px;
      }
      @media (max-width: 600px) {
        font-size: 10px;
      }
      &:hover {
        color: $grey;
      }
      &:focus {
        outline: none;
      }
    }
  }
}


@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 200px 0px;
  }
}
.input {
  padding: 13px 15px;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  background: #f8f8fc;
  display: block;
  width: 250px;

  &:hover {
    border: 1px solid #333;
    border-radius: 30px;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: wait;
    background: repeating-linear-gradient(
      45deg,
      #f8f8fc,
      #f8f8fc 5px,
      #ccc 5px,
      #ccc 10px
    );
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-size: 1500px 1500px;
    animation: slide 2s infinite linear;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: black;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: black;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: black;
    }
  }
}

@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 200px 0px;
  }
}

.beta-container {
  border-radius: 24px;
  background: rgb(248, 248, 252);
  max-width: 1560px;
  margin: 24px auto;
  padding: 24px;
  color: #2D2B2B;
  @media screen and (max-width: 1600px) {
    max-width: 1400px;
  }
  @media screen and (max-width: 1400px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 1000px;
  }
  @media screen and (max-width: 1000px) {
    max-width: 800px;
    transform: translateY(60px);
  }
  h1 {
    color: #656F80;
  }
}
