$container: 1600px;
@import "./scss/colors";
@import "./components/Header/Header";
@import "./pages/Profile/Profile";
@import "./pages/Place/Place";
@import "./pages/Landing/Landing";
@import "./pages/Home/MapPage";
@import "./components/Prompts/PopupPrompts";
@import "./components/common/common";
@import "./icons/Icons";
@import "./pages/FAQ/Faq.scss";
@import "./components/common/zoom_button/zoom_button.style.scss";

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  background: $bg2;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input, select {
  border-radius: 0;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.centered-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  $l: 42px;
  border-radius: 50%;
  height: $l;
  width: $l;
}

.page .container {
  height: calc(100vh - 100px);
  padding: 20px;
}

.display-none {
  display: none;
}

.button,
.button:link,
.button:visited {
  cursor: pointer;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  background: #f8f8fc;
  font-size: 1.1em;
  padding: 10px 20px 10px 20px;

  &.large {
    padding: 15px 35px 15px 35px;
  }

  &.confirm {
    background: #a7e1ff;
    color: #5f91b7;
    &:hover {
      background: #5791b7;
      color: #a7e1ff;
    }
  }

  &.warning {
    background: #ffc7db;
    color: red;
    &:hover {
      background: red;
      color: #ecd7db;
    }
  }
  &:hover {
    background: #333;
    border: 1px solid #333;
    color: #fefefe;
    border-radius: 30px;
  }

  &.disabled {
    cursor: wait;
    color: black;
    background: repeating-linear-gradient(
      45deg,
      #f8f8fc,
      #f8f8fc 5px,
      #ccc 5px,
      #ccc 10px
    );
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-size: 1500px 1500px;
    animation: slide 2s infinite linear;
  }
}

@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 200px 0px;
  }
}
.input {
  padding: 13px 15px;
  border: 1px solid #333;
  color: #333;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  background: #f8f8fc;
  display: block;
  width: 250px;

  &:hover {
    border: 1px solid #333;
    border-radius: 30px;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: wait;
    background: repeating-linear-gradient(
      45deg,
      #f8f8fc,
      #f8f8fc 5px,
      #ccc 5px,
      #ccc 10px
    );
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-size: 1500px 1500px;
    animation: slide 2s infinite linear;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: black;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: black;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: black;
    }
  }
}

@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 200px 0px;
  }
}

.beta-container {
  border-radius: 24px;
  background: rgb(248, 248, 252);
  max-width: 1560px;
  margin: 24px auto;
  padding: 24px;
  color: #2D2B2B;
  @media screen and (max-width: 1600px) {
    max-width: 1400px;
  }
  @media screen and (max-width: 1400px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 1000px;
  }
  @media screen and (max-width: 1000px) {
    max-width: 800px;
  }
  h1 {
    color: #656F80;
  }
}
