// colors
$white: #FFF;
$off-white: rgb(248, 248, 252);
$bg1: #4F5867;
$bg2: #525B6A;
$bg3: #656F80;
$navbar-bg: #F8F8FC;
$grey: #A7A7A7;
$primary-blue: #73A7C3;
$primary-green: #96B1A8;
$primary-yellow: #DBC071;
$primary-red: #CB7678;
$light-blue: #C2D7E5;
$light-green: #D1DCDB;
$light-yellow: #F2E9D2;
$light-red: #ECD7DB;
