.city-choosing-container {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
  div {
    max-width: 100%;
    max-height: 100%;
  }
  .submit-cities {
    position: absolute;
    z-index: 2001;
    right: calc(0% + 24px);
    top: 16px;
    height: 40px;
    width: 80px;
    background: rgb(236, 215, 219);
    color: $primary-red;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow:  0 1px 2px 2px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    &:hover {
      color:  rgb(236, 215, 219);
      background: $primary-red;
    }
    &:focus {
      outline: none;
    }
  }
}

.mapboxgl-ctrl-top-right {
  top: 5px !important;
  left: calc(50% - 206px) !important;
  min-height: 80px;

  .mapboxgl-ctrl-geocoder {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 396px;
    height: 40px;
    margin: 16px auto 16px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.15);
    background: #efefef;
    label {
      text-transform: none;
      transform: translate(-20px, -4px);
    }
    input {
      display: flex;
      align-items: center;
      width: 360px;
      height: 36px;
      border-bottom: none;
      font-size: 24px;
      font-family: "Segoe UI";
      font-weight: 100;
      line-height: 1.5em;
      border: 0;
      padding: 6px 45px;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: text;
      background: none;
      color: #aba9a9;

      &:focus {
        outline: 0;
      }
    }

    .mapboxgl-ctrl-geocoder--icon-search {
      width: 28px;
      height: 28px;
      fill: rgb(210, 210, 210);
    }
    .mapboxgl-ctrl-geocoder--pin-right {
      button {
        background: none;
        border: none;
        fill: rgb(220, 220, 220);
      }
    }
  }
}


