.clicked-country-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .clicked-country-header {
    display: flex;
    justify-content: center;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #4f5867;
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: 550;
    color: rgb(220, 220, 220);
    .clicked-country-info-value {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      font-size: 20px;
      line-height: 34px;
      font-weight: 550;
      color: rgb(248, 248, 252);
      margin-right: 12px;
      padding-top: 3px;
      .ud-link-icon {
        fill: rgb(230, 230, 232);
      }
    }
  }
  .clicked-country-info {
    display: flex;
    width: 100%;
    min-height: 120px;
    padding: 30px;
    a {
      width: 100%;
    }
    .clicked-country-info-names {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 2;
      cursor: pointer;
      .click-place-text {
        position: absolute;
        top: -24px;
        font-weight: 550;
        color: #be929a;
        font-size: 16px;
        width: 100%;
      }
      span:nth-child(2) {
        font-size: 20px;
        font-weight: 550;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #4f5867;
      }
      span:nth-child(3) {
        font-size: 14px;
        font-weight: 550;
        color: #9fa0a1;
      }
    }
    .clicked-country-info-shape {
      display: flex;
      flex: 1;
      background: orange;
    }
  }

  .city-counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40px;
    color: #b1b1b1;
    font-size: 24px;
    font-weight: 550;
    svg {
      fill: #dcdcdc;
    }
  }
}

.clicked-country-timing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  max-width: 320px;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
    height: 120px;
    font-size: 24px;
    font-weight: 400;
  }
}

.previous-trips-button,
.cancel-delete-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  height: 60px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 550;
  width: 240px;
  margin: 4px auto;
  padding-left: 0;
}

.previous-trips-button {
  color: #cb7678;
  background: rgb(228, 228, 232);
  .trash-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-18px, 0px);
    height: 100%;
    min-width: 48px;
    background: #cb7678;
    .trash-icon {
      fill: rgb(238, 238, 242);
      transform: translate(0px, -1px);
    }
  }
  &:hover {
    background: #cb7678;
    color: rgb(228, 228, 232);
  }
}

.cancel-delete-button {
  color: rgb(238, 238, 242);
  background: $primary-blue;

  .back-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-56px, 0px);
    height: 100%;
    min-width: 48px;
    background: $primary-blue;
    svg {
      height: 30px;
      fill: rgb(238, 238, 242);
      transform: rotate(180deg);
    }
  }
  &:hover {
    color: white;
    .back-icon-container {
      background: white;
      svg {
        fill: $primary-blue;
      }
    }
  }
}

.no-review-text-dark {
  margin-left: 20px;
  font-size: 20px;
}
