.faq-container {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  border: none;
  box-shadow: none;
}

.panel-group {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  min-height: 600px;
}

.panel-default {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.panel-body {
  padding: 12px 24px;
}


.panel-group {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.panel-title {
  padding: 1rem !important;
}

.panel-heading h4 {
  margin: 0.5rem 0;
  color: rgb(100, 100, 100);
}

.panel-title a:hover {
  color: #999;
  text-decoration: none;
}

.panel-body {
  transition: opacity 0.2s ease-in-out;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  background: #f5f5f5;
  border: none;
  color: black;
}

@media (min-width: 800px) {
  .panel-group {
    max-width: 1200px;
  }
}

.panel-heading a:after {
  font-family: "Glyphicons Halflings";
  content: "\2212";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
  content: "\2b";
}

.panel-heading a:after {
  font-family: "Glyphicons Halflings";
  content: "\2212";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
  content: "\2b";
}

.panel-default > panel-heading {
  background-color: #f5f5f5;
}

.panel-heading {
  background: #f5f5f5;
  background-color: #f5f5f5;
}

.add-cities-gif {
  width: calc(100% - 12px);
}